<div class="intro-conteiner">
  <div class="intro-conteiner-sturtup">
      <div class="intro-conteiner intro-conteiner-slogan">
          <div class="outside intro-conteiner__maintence">
              <p class="intro-conteiner-slogan__maintence">
                Conbent Systems</p>
          </div>
          <div class="intro-conteiner__about inside">
              <p class="intro-conteiner-slogan__about">Summary of works on the development<br>of automated building<br>information systems</p>
          </div>

      </div>
      <div class="intro-conteiner-canvas">
          <canvas class="conteiner-canvas"></canvas>
      </div>
  </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="/src/WebApp/WebClient/assets/main-page/intro.js"></script>
