<div class="container ">
    <div class="intro-conteiner">
        <div class="intro-conteiner intro-conteiner-slogan">
          <div class="intro-conteiner__about text-start align-items-start">
            <div>
              <span class="text_about">Blog posts</span>
            </div>
            <div>
              <span class="text_about">on the development</span>
            </div>
            <div>
              <span class="text_about">of automated building</span>
            </div>
            <div>
              <span class="text_about">information systems</span>
            </div>
          </div>
        </div>
        <div class="canvas-dots rounded text-end">
            <canvas class="conteiner-canvas "></canvas>
        </div>
      </div>
</div>
