/* _content/WebUi/Views/About/Index.cshtml.rz.scp.css */
/* _content/WebUi/Views/Account/Index.cshtml.rz.scp.css */
/** Inspired by: http://graphicburger.com/flat-design-ui-components/ **/
/** Line-chart and donut-chart made by @kseso https://codepen.io/Kseso/pen/phiyL **/

/************************************ FONTS ************************************/
/*@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(https://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);*/
/* entypo */
[class*="entypo-"][b-giccfwr4d9]:before {
    font-family: "entypo", sans-serif;
}
/* fontawesome */
[class*="fontawesome-"][b-giccfwr4d9]:before {
    font-family: "FontAwesome", sans-serif;
}
/* zocial */
[class*="zocial-"][b-giccfwr4d9]:before {
    font-family: "zocial", sans-serif;
}

@font-face {
    font-family: "icomoon";
    src: url("https://jlalovi-cv.herokuapp.com/font/icomoon.eot");
    src: url("https://jlalovi-cv.herokuapp.com/font/icomoon.eot?#iefix") format("embedded-opentype"), url("https://jlalovi-cv.herokuapp.com/font/icomoon.ttf") format("truetype"), url("https://jlalovi-cv.herokuapp.com/font/icomoon.woff") format("woff"), url("https://jlalovi-cv.herokuapp.com/font/icomoon.svg#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"][b-giccfwr4d9],
[class*=" icon-"][b-giccfwr4d9] {
    font-family: "icomoon";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cloudy[b-giccfwr4d9]:before {
    content: "\e60f";
}

.icon-sun[b-giccfwr4d9]:before {
    content: "\e610";
}

.icon-cloudy2[b-giccfwr4d9]:before {
    content: "\e611";
}
/************************************* END FONTS *************************************/

*[b-giccfwr4d9] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body[b-giccfwr4d9] {
    background: #1f253d;
}

ul[b-giccfwr4d9] {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1[b-giccfwr4d9] {
    font-size: 23px;
}

h2[b-giccfwr4d9] {
    font-size: 17px;
}

p[b-giccfwr4d9] {
    font-size: 15px;
}

a[b-giccfwr4d9] {
    text-decoration: none;
    font-size: 15px;
}

    a:hover[b-giccfwr4d9] {
        text-decoration: underline;
    }

h1[b-giccfwr4d9],
h2[b-giccfwr4d9],
p[b-giccfwr4d9],
a[b-giccfwr4d9],
span[b-giccfwr4d9] {
    color: #fff;
}

.scnd-font-color[b-giccfwr4d9] {
    color: #9099b7;
}

.input-container[b-giccfwr4d9] {
    position: relative;
}

input[type="text"][b-giccfwr4d9] {
    width: 260px;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 45px;
    background: #50597b;
    color: #fff;
    border: solid 1px #1f253d;
    border-radius: 5px;
}

    input[type="text"][b-giccfwr4d9]::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #fff;
    }

    input[type="text"]:-moz-input-placeholder[b-giccfwr4d9] {
        /* Mozilla Firefox 4 to 18 */
        color: #fff;
    }

    input[type="text"][b-giccfwr4d9]::-moz-input-placeholder {
        /* Mozilla Firefox 19+ */
        color: #fff;
    }

    input[type="text"]:-ms-input-placeholder[b-giccfwr4d9] {
        /* Internet Explorer 10+ */
        color: #fff;
    }

    input[type="text"]:focus[b-giccfwr4d9] {
        outline: none; /* removes the default orange border when focus */
        border: 1px solid #11a8ab;
    }

.input-icon[b-giccfwr4d9] {
    font-size: 22px;
    position: absolute;
    left: 31px;
    top: 10px;
}

    .input-icon.password-icon[b-giccfwr4d9] {
        left: 35px;
    }

.horizontal-list[b-giccfwr4d9] {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    .horizontal-list li[b-giccfwr4d9] {
        float: left;
    }

.clear[b-giccfwr4d9] {
    clear: both;
}

.icon[b-giccfwr4d9] {
    font-size: 25px;
}

.titular[b-giccfwr4d9] {
    display: block;
    line-height: 60px;
    margin: 0;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.button[b-giccfwr4d9] {
    display: block;
    width: 175px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

    .button:hover[b-giccfwr4d9] {
        text-decoration: none;
    }

.arrow-btn-container[b-giccfwr4d9] {
    position: relative;
}

.arrow-btn[b-giccfwr4d9] {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

    .arrow-btn:hover[b-giccfwr4d9] {
        text-decoration: none;
    }

    .arrow-btn.left[b-giccfwr4d9] {
        border-top-left-radius: 5px;
    }

    .arrow-btn.right[b-giccfwr4d9] {
        border-top-right-radius: 5px;
        right: 0;
        top: 0;
    }

    .arrow-btn .icon[b-giccfwr4d9] {
        display: block;
        font-size: 18px;
        border: 2px solid #fff;
        border-radius: 100%;
        line-height: 17px;
        width: 21px;
        margin: 20px auto;
        text-align: center;
    }

    .arrow-btn.left .icon[b-giccfwr4d9] {
        padding-right: 2px;
    }

.profile-picture[b-giccfwr4d9] {
    border-radius: 100%;
    overflow: hidden;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.big-profile-picture[b-giccfwr4d9] {
    margin: 0 auto;
    border: 5px solid #50597b;
    width: 150px;
    height: 150px;
}

.small-profile-picture[b-giccfwr4d9] {
    border: 2px solid #50597b;
    width: 40px;
    height: 40px;
}

/** MAIN CONTAINER **/

.main-container[b-giccfwr4d9] {
    font-family: "Ubuntu", sans-serif;
    width: 950px;
    height: 1725px;
    margin: 6em auto;
}
/*********************************************** HEADER ***********************************************/
header[b-giccfwr4d9] {
    height: 80px;
}

.header-menu[b-giccfwr4d9] {
    font-size: 17px;
    line-height: 80px;
}

    .header-menu li[b-giccfwr4d9] {
        position: relative;
        -webkit-transform: translateZ(0); /** To avoid a flash when hover messages **/
    }

.header-menu-tab[b-giccfwr4d9] {
    padding: 0 27px;
    display: block;
    line-height: 74px;
    font-size: 17px;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

    .header-menu-tab:hover[b-giccfwr4d9] {
        background: #50597b;
        border-bottom: 4px solid #11a8ab;
        text-decoration: none;
    }

    .header-menu-tab .icon[b-giccfwr4d9] {
        padding-right: 15px;
    }

.header-menu-number[b-giccfwr4d9] {
    position: absolute;
    line-height: 22px;
    padding: 0 6px;
    font-weight: 700;
    background: #e64c65;
    border-radius: 100%;
    top: 15px;
    right: 2px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.header-menu li:hover .header-menu-number[b-giccfwr4d9] {
    text-decoration: none;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.profile-menu[b-giccfwr4d9] {
    float: right;
    height: 80px;
    padding-right: 20px;
}

    .profile-menu p[b-giccfwr4d9] {
        font-size: 17px;
        display: inline-block;
        line-height: 76px;
        margin: 0;
        padding-right: 10px;
    }

    .profile-menu a[b-giccfwr4d9] {
        padding-left: 5px;
    }

        .profile-menu a:hover[b-giccfwr4d9] {
            text-decoration: none;
        }

.small-profile-picture[b-giccfwr4d9] {
    display: inline-block;
    vertical-align: middle;
}
/** CONTAINERS **/
.container[b-giccfwr4d9] {
    float: left;
    width: 300px;
}

.block[b-giccfwr4d9] {
    margin-bottom: 25px;
    background: #394264;
    border-radius: 5px;
}
/******************************************** LEFT CONTAINER *****************************************/
.left-container[b-giccfwr4d9] {
}

.menu-box[b-giccfwr4d9] {
    height: 360px;
}

    .menu-box .titular[b-giccfwr4d9] {
        background: #11a8ab;
    }

.menu-box-menu .icon[b-giccfwr4d9] {
    display: inline-block;
    vertical-align: top;
    width: 28px;
    margin-left: 20px;
    margin-right: 15px;
}

.menu-box-number[b-giccfwr4d9] {
    width: 36px;
    line-height: 22px;
    background: #50597b;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    top: 15px;
    right: 15px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.menu-box-menu li[b-giccfwr4d9] {
    height: 60px;
    position: relative;
}

.menu-box-tab[b-giccfwr4d9] {
    line-height: 60px;
    display: block;
    border-bottom: 1px solid #1f253d;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

    .menu-box-tab:hover[b-giccfwr4d9] {
        background: #50597b;
        border-top: 1px solid #1f253d;
        text-decoration: none;
    }

        .menu-box-tab:hover .icon[b-giccfwr4d9] {
            color: #fff;
        }

        .menu-box-tab:hover .menu-box-number[b-giccfwr4d9] {
            background: #e64c65;
        }

.donut-chart-block[b-giccfwr4d9] {
    height: 434px;
}

    .donut-chart-block .titular[b-giccfwr4d9] {
        padding: 10px 0;
    }

.donut-chart[b-giccfwr4d9] {
    height: 270px;
}
/******************************************
				DONUT-CHART by @kseso https://codepen.io/Kseso/pen/phiyL
				******************************************/
.donut-chart[b-giccfwr4d9] {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 2rem;
    border-radius: 100%;
}

p.center-date[b-giccfwr4d9] {
    background: #394264;
    position: absolute;
    text-align: center;
    font-size: 28px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 130px;
    height: 130px;
    margin: auto;
    border-radius: 50%;
    line-height: 35px;
    padding: 15% 0 0;
}

.center-date span.scnd-font-color[b-giccfwr4d9] {
    line-height: 0;
}

.recorte[b-giccfwr4d9] {
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
    height: 100%;
    position: absolute;
    width: 100%;
}

.quesito[b-giccfwr4d9] {
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
}

#porcion1[b-giccfwr4d9] {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

    #porcion1 .quesito[b-giccfwr4d9] {
        background-color: #e64c65;
        -webkit-transform: rotate(76deg);
        transform: rotate(76deg);
    }

#porcion2[b-giccfwr4d9] {
    -webkit-transform: rotate(76deg);
    transform: rotate(76deg);
}

    #porcion2 .quesito[b-giccfwr4d9] {
        background-color: #11a8ab;
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg);
    }

#porcion3[b-giccfwr4d9] {
    -webkit-transform: rotate(215deg);
    transform: rotate(215deg);
}

    #porcion3 .quesito[b-giccfwr4d9] {
        background-color: #4fc4f6;
        -webkit-transform: rotate(113deg);
        transform: rotate(113deg);
    }

#porcionFin[b-giccfwr4d9] {
    -webkit-transform: rotate(-32deg);
    transform: rotate(-32deg);
}

    #porcionFin .quesito[b-giccfwr4d9] {
        background-color: #fcb150;
        -webkit-transform: rotate(32deg);
        transform: rotate(32deg);
    }
/******************************************
				END DONUT-CHART by @kseso https://codepen.io/Kseso/pen/phiyL
				******************************************/
.os-percentages[b-giccfwr4d9] {
    padding-top: 36px;
}

    .os-percentages li[b-giccfwr4d9] {
        width: 75px;
        border-left: 1px solid #394264;
        text-align: center;
        background: #50597b;
    }

.os[b-giccfwr4d9] {
    margin: 0;
    padding: 10px 0 5px;
    font-size: 15px;
}

    .os.ios[b-giccfwr4d9] {
        border-top: 4px solid #e64c65;
    }

    .os.mac[b-giccfwr4d9] {
        border-top: 4px solid #11a8ab;
    }

    .os.linux[b-giccfwr4d9] {
        border-top: 4px solid #fcb150;
    }

    .os.win[b-giccfwr4d9] {
        border-top: 4px solid #4fc4f6;
    }

.os-percentage[b-giccfwr4d9] {
    margin: 0;
    padding: 0 0 15px 10px;
    font-size: 25px;
}

.line-chart-block[b-giccfwr4d9] {
    height: 400px;
}

.line-chart[b-giccfwr4d9] {
    height: 200px;
    background: #11a8ab;
}
/******************************************
				LINE-CHART by @kseso https://codepen.io/Kseso/pen/phiyL
				******************************************/
.grafico[b-giccfwr4d9] {
    padding: 2rem 1rem 1rem;
    width: 100%;
    height: 100%;
    position: relative;
    color: #fff;
    font-size: 80%;
}

    .grafico span[b-giccfwr4d9] {
        display: block;
        position: absolute;
        bottom: 3rem;
        left: 2rem;
        height: 0;
        border-top: 2px solid;
        -webkit-transform-origin: left center;
        transform-origin: left center;
    }

        .grafico span > span[b-giccfwr4d9] {
            left: 100%;
            bottom: 0;
        }

[data-valor="25"][b-giccfwr4d9] {
    width: 75px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

[data-valor="8"][b-giccfwr4d9] {
    width: 24px;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
}

[data-valor="13"][b-giccfwr4d9] {
    width: 39px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

[data-valor="5"][b-giccfwr4d9] {
    width: 15px;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
}

[data-valor="23"][b-giccfwr4d9] {
    width: 69px;
    -webkit-transform: rotate(-70deg);
    transform: rotate(-70deg);
}

[data-valor="12"][b-giccfwr4d9] {
    width: 36px;
    -webkit-transform: rotate(75deg);
    transform: rotate(75deg);
}

[data-valor="15"][b-giccfwr4d9] {
    width: 45px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

[data-valor][b-giccfwr4d9]:before {
    content: "";
    position: absolute;
    display: block;
    right: -4px;
    bottom: -3px;
    padding: 4px;
    background: #fff;
    border-radius: 50%;
}

[data-valor="23"][b-giccfwr4d9]:after {
    content: "+" attr(data-valor) "%";
    position: absolute;
    right: -2.7rem;
    top: -1.7rem;
    padding: 0.3rem 0.5rem;
    background: #50597b;
    border-radius: 0.5rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

[class^="eje-"][b-giccfwr4d9] {
    position: absolute;
    left: 0;
    bottom: 0rem;
    width: 100%;
    padding: 1rem 1rem 0 2rem;
    height: 80%;
}

.eje-x[b-giccfwr4d9] {
    height: 2.5rem;
}

.eje-y li[b-giccfwr4d9] {
    height: 25%;
    border-top: 1px solid #777;
}

[data-ejeY][b-giccfwr4d9]:before {
    content: attr(data-ejeY);
    display: inline-block;
    width: 2rem;
    text-align: right;
    line-height: 0;
    position: relative;
    left: -2.5rem;
    top: -0.5rem;
}

.eje-x li[b-giccfwr4d9] {
    width: 33%;
    float: left;
    text-align: center;
}
/******************************************
				END LINE-CHART by @kseso https://codepen.io/Kseso/pen/phiyL
				******************************************/
.time-lenght[b-giccfwr4d9] {
    padding-top: 22px;
    padding-left: 38px;
}

.time-lenght-btn[b-giccfwr4d9] {
    display: block;
    width: 70px;
    line-height: 32px;
    background: #50597b;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    margin-right: 5px;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

    .time-lenght-btn:hover[b-giccfwr4d9] {
        text-decoration: none;
        background: #e64c65;
    }

.month-data[b-giccfwr4d9] {
    padding-top: 28px;
}

    .month-data p[b-giccfwr4d9] {
        display: inline-block;
        margin: 0;
        padding: 0 25px 15px;
        font-size: 16px;
    }

        .month-data p:last-child[b-giccfwr4d9] {
            padding: 0 25px;
            float: right;
            font-size: 15px;
        }

.increment[b-giccfwr4d9] {
    color: #e64c65;
}

.media[b-giccfwr4d9] {
    height: 216px;
}

#media-display[b-giccfwr4d9] {
    position: relative;
    height: 180px;
    background: #787878 url("https://www.fancinema.com.ar/wp-content/uploads/catwoman1.jpg") center top;
}

    #media-display .play[b-giccfwr4d9] {
        position: absolute;
        top: 75px;
        right: 32px;
        border: 2px solid #fff;
        border-radius: 100%;
        padding: 2px 5px 2px 9px;
    }

        #media-display .play:hover[b-giccfwr4d9] {
            border: 2px solid #e64c65;
        }

.media-control-bar[b-giccfwr4d9] {
    padding: 6px 0 0 15px;
}

.media-btn[b-giccfwr4d9],
.time-passed[b-giccfwr4d9] {
    display: inline-block;
    margin: 0;
}

.media-btn[b-giccfwr4d9] {
    font-size: 19px;
}

    .media-btn:hover[b-giccfwr4d9],
    .media-btn:hover span[b-giccfwr4d9] {
        text-decoration: none;
        color: #e64c65;
    }

.play[b-giccfwr4d9] {
    margin-right: 100px;
}

.volume[b-giccfwr4d9] {
    margin-left: 30px;
}

.resize[b-giccfwr4d9] {
    margin-left: 12px;
}

.left-container .social[b-giccfwr4d9] {
    height: 110px;
}

    .left-container .social li[b-giccfwr4d9] {
        width: 75px;
        height: 110px;
    }

        .left-container .social li .icon[b-giccfwr4d9] {
            text-align: center;
            font-size: 20px;
            margin: 0;
            line-height: 75px;
        }

        .left-container .social li .number[b-giccfwr4d9] {
            text-align: center;
            margin: 0;
            line-height: 34px;
        }

    .left-container .social .facebook[b-giccfwr4d9] {
        background: #3468af;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

        .left-container .social .facebook .number[b-giccfwr4d9] {
            background: #1a4e95;
            border-bottom-left-radius: 5px;
        }

    .left-container .social .twitter[b-giccfwr4d9] {
        background: #4fc4f6;
    }

        .left-container .social .twitter .icon[b-giccfwr4d9] {
            font-size: 18px;
        }

        .left-container .social .twitter .number[b-giccfwr4d9] {
            background: #35aadc;
        }

    .left-container .social .googleplus[b-giccfwr4d9] {
        background: #e64c65;
    }

        .left-container .social .googleplus .number[b-giccfwr4d9] {
            background: #cc324b;
        }

    .left-container .social .mailbox[b-giccfwr4d9] {
        background: #50597b;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

        .left-container .social .mailbox .number[b-giccfwr4d9] {
            background: #363f61;
            border-bottom-right-radius: 5px;
        }
/************************************************** MIDDLE CONTAINER **********************************/
.middle-container[b-giccfwr4d9] {
    margin: 0 25px;
}

.profile[b-giccfwr4d9] {
    height: 410px;
}

.add-button .icon[b-giccfwr4d9] {
    float: right;
    line-height: 18px;
    width: 23px;
    border: 2px solid;
    border-radius: 100%;
    font-size: 18px;
    text-align: center;
    margin: 10px;
}

    .add-button .icon:hover[b-giccfwr4d9] {
        color: #e64c65;
        border-color: #e64c65;
    }

.user-name[b-giccfwr4d9] {
    margin: 25px 0 16px;
    text-align: center;
}

.profile-description[b-giccfwr4d9] {
    width: 210px;
    margin: 0 auto;
    text-align: center;
}

.profile-options[b-giccfwr4d9] {
    padding-top: 23px;
}

    .profile-options li[b-giccfwr4d9] {
        border-left: 1px solid #1f253d;
    }

    .profile-options p[b-giccfwr4d9] {
        margin: 0;
    }

    .profile-options a[b-giccfwr4d9] {
        display: block;
        width: 99px;
        line-height: 60px;
        text-align: center;
        -webkit-transition: background 0.3s;
        transition: background 0.3s;
    }

        .profile-options a:hover[b-giccfwr4d9] {
            text-decoration: none;
            background: #50597b;
        }

            .profile-options a:hover.comments .icon[b-giccfwr4d9] {
                color: #fcb150;
            }

            .profile-options a:hover.views .icon[b-giccfwr4d9] {
                color: #11a8ab;
            }

            .profile-options a:hover.likes .icon[b-giccfwr4d9] {
                color: #e64c65;
            }

    .profile-options .icon[b-giccfwr4d9] {
        padding-right: 10px;
    }

    .profile-options .comments[b-giccfwr4d9] {
        border-top: 4px solid #fcb150;
    }

    .profile-options .views[b-giccfwr4d9] {
        border-top: 4px solid #11a8ab;
    }

    .profile-options .likes[b-giccfwr4d9] {
        border-top: 4px solid #e64c65;
    }

.weather[b-giccfwr4d9] {
    height: 555px;
}

    .weather .titular[b-giccfwr4d9] {
        background: #cc324b;
    }

        .weather .titular .icon[b-giccfwr4d9] {
            padding-right: 15px;
            font-size: 26px;
        }

    .weather .current-day[b-giccfwr4d9] {
        height: 135px;
        background: #e64c65;
    }

        .weather .current-day p[b-giccfwr4d9] {
            margin: 0;
            padding-left: 50px;
        }

.current-day-date[b-giccfwr4d9] {
    font-size: 16px;
    padding-top: 16px;
}

.current-day-temperature[b-giccfwr4d9] {
    font-size: 70px;
}

    .current-day-temperature .icon-cloudy[b-giccfwr4d9] {
        padding-left: 20px;
    }

.weather .next-days[b-giccfwr4d9] {
}

    .weather .next-days p[b-giccfwr4d9] {
        margin: 0;
        display: inline-block;
        font-size: 16px;
    }

    .weather .next-days a[b-giccfwr4d9] {
        display: block;
        line-height: 58px;
        border-bottom: 1px solid #1f253d;
        -webkit-transition: background 0.3s;
        transition: background 0.3s;
    }

        .weather .next-days a:hover[b-giccfwr4d9] {
            background: #50597b;
        }

            .weather .next-days a:hover .day[b-giccfwr4d9] {
                color: #e64c65;
            }

.weather .next-days-date[b-giccfwr4d9] {
    padding-left: 20px;
}

.weather .next-days-temperature[b-giccfwr4d9] {
    float: right;
    padding-right: 20px;
}

    .weather .next-days-temperature .icon[b-giccfwr4d9] {
        padding-left: 10px;
    }

.tweets[b-giccfwr4d9] {
    height: 375px;
}

    .tweets .titular[b-giccfwr4d9] {
        background: #35aadc;
    }

        .tweets .titular .icon[b-giccfwr4d9] {
            font-size: 18px;
            padding-right: 20px;
        }

.tweet.first[b-giccfwr4d9] {
    height: 150px;
    border-bottom: 1px solid #1f253d;
}

.tweet p:first-child[b-giccfwr4d9] {
    margin: 0;
    padding: 30px 30px 0;
}

.tweet p:last-child[b-giccfwr4d9] {
    margin: 0;
    padding: 15px 30px 0;
}

.tweet-link[b-giccfwr4d9] {
    color: #4fc4f6;
}

.middle-container .social[b-giccfwr4d9] {
    height: 205px;
    background: #1f253d;
}

    .middle-container .social li[b-giccfwr4d9] {
        margin-bottom: 12px;
    }

    .middle-container .social a[b-giccfwr4d9] {
        line-height: 60px;
    }

        .middle-container .social a:hover[b-giccfwr4d9] {
            text-decoration: none;
        }

    .middle-container .social .titular[b-giccfwr4d9] {
        border-radius: 5px;
    }

    .middle-container .social .facebook[b-giccfwr4d9] {
        background: #3468af;
        -webkit-transition: background 0.3s;
        transition: background 0.3s;
    }

    .middle-container .social a:hover .facebook[b-giccfwr4d9] {
        background: #1a4e95;
    }

    .middle-container .social a:hover .icon.facebook[b-giccfwr4d9] {
        background: #3468af;
    }

    .middle-container .social .twitter[b-giccfwr4d9] {
        background: #4fc4f6;
        -webkit-transition: background 0.3s;
        transition: background 0.3s;
    }

    .middle-container .social a:hover .twitter[b-giccfwr4d9] {
        background: #35aadc;
    }

    .middle-container .social a:hover .icon.twitter[b-giccfwr4d9] {
        background: #4fc4f6;
    }

    .middle-container .social .googleplus[b-giccfwr4d9] {
        background: #e64c65;
        -webkit-transition: background 0.3s;
        transition: background 0.3s;
    }

    .middle-container .social a:hover .googleplus[b-giccfwr4d9] {
        background: #cc324b;
    }

    .middle-container .social a:hover .icon.googleplus[b-giccfwr4d9] {
        background: #e64c65;
    }

    .middle-container .social .icon[b-giccfwr4d9] {
        float: left;
        width: 60px;
        height: 60px;
        text-align: center;
        font-size: 20px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

        .middle-container .social .icon.facebook[b-giccfwr4d9] {
            background: #1a4e95;
        }

        .middle-container .social .icon.twitter[b-giccfwr4d9] {
            background: #35aadc;
        }

        .middle-container .social .icon.googleplus[b-giccfwr4d9] {
            background: #cc324b;
        }
/********************************************* RIGHT CONTAINER ****************************************/
.right-container[b-giccfwr4d9] {
}

.join-newsletter[b-giccfwr4d9] {
    height: 230px;
}

    .join-newsletter .titular[b-giccfwr4d9] {
        padding-top: 10px;
    }

.subscribe.button[b-giccfwr4d9] {
    background: #11a8ab;
    margin-top: 10px;
}

    .subscribe.button:hover[b-giccfwr4d9] {
        background: #0f9295;
    }

.account[b-giccfwr4d9] {
    height: 390px;
}

    .account .titular[b-giccfwr4d9] {
        padding: 10px 0;
    }

.sign-in.button[b-giccfwr4d9] {
    background: #e64c65;
    margin: 10px auto;
}

    .sign-in.button:hover[b-giccfwr4d9] {
        background: #cc324b;
    }

.account p[b-giccfwr4d9] {
    text-align: center;
}

.fb-sign-in[b-giccfwr4d9] {
    margin-top: 28px;
    display: block;
    line-height: 50px;
    background: #3468af;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

    .fb-sign-in:hover[b-giccfwr4d9] {
        background: #1a4e95;
        text-decoration: none;
    }

    .fb-sign-in .icon[b-giccfwr4d9] {
        line-height: 20px;
        font-size: 12px;
        padding-right: 3px;
    }

.fb-border[b-giccfwr4d9] {
    display: inline-block;
    width: 23px;
    line-height: 20px;
    border: 2px solid #fff;
    border-radius: 100%;
    margin-right: 10px;
}

.loading[b-giccfwr4d9] {
    height: 200px;
    padding-top: 35px;
}

    .loading p[b-giccfwr4d9] {
        display: inline-block;
        padding-left: 30px;
        margin: 5px 0 20px;
    }

    .loading .icon[b-giccfwr4d9] {
        padding-right: 15px;
    }

    .loading .percentage[b-giccfwr4d9] {
        float: right;
        padding: 6px 35px 0 0;
    }

    .loading .progress-bar[b-giccfwr4d9] {
        width: 250px;
        height: 20px;
        background: #50597b;
        border-radius: 5px;
        margin: 0 auto;
    }

.progress-bar.downloading[b-giccfwr4d9] {
    background: -webkit-linear-gradient( left, #11a8ab 81%, #50597b 81% ); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(left, #11a8ab 81%, #50597b 81%); /* IE10+ */
    background: linear-gradient(to right, #11a8ab 81%, #50597b 81%); /* W3C */
}

.progress-bar.uploading[b-giccfwr4d9] {
    background: -webkit-linear-gradient( left, #4fc4f6 43%, #50597b 43% ); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(left, #4fc4f6 43%, #50597b 43%); /* IE10+ */
    background: linear-gradient(to right, #4fc4f6 43%, #50597b 43%); /* W3C */
}

.calendar-day[b-giccfwr4d9] {
    height: 320px;
    background: #3468af;
}

    .calendar-day .titular[b-giccfwr4d9] {
        background: #1a4e95;
    }

    .calendar-day .arrow-btn:hover[b-giccfwr4d9] {
        background: #16417e;
    }

    .calendar-day .the-day[b-giccfwr4d9] {
        margin: 0;
        text-align: center;
        font-size: 146px;
    }

.add-event.button[b-giccfwr4d9] {
    background: #4fc4f6;
}

    .add-event.button:hover[b-giccfwr4d9] {
        background: #35aadc;
    }

.calendar-month[b-giccfwr4d9] {
    height: 380px;
}

    .calendar-month .titular[b-giccfwr4d9] {
        background: #3468af;
    }

    .calendar-month .arrow-btn:hover[b-giccfwr4d9] {
        background: #1a4e95;
    }

.calendar[b-giccfwr4d9] {
    margin: 22px 15px;
    text-align: center;
}

    .calendar a[b-giccfwr4d9] {
        font-size: 17px;
    }

    .calendar td[b-giccfwr4d9],
    .calendar th[b-giccfwr4d9] {
        width: 40px;
        height: 38px;
    }

    .calendar .days-week[b-giccfwr4d9] {
        color: #4fc4f6;
    }

    .calendar .today[b-giccfwr4d9] {
        display: block;
        width: 34px;
        line-height: 34px;
        background: #e64c65;
        border-radius: 100%;
    }
/* _content/WebUi/Views/Articles/Create.cshtml.rz.scp.css */
.article-create-title[b-y0q5mg15ch] {
    display: block;
    color: #FFFAFA;
    text-align: center;
    width: 100%;
}

.create-field-name[b-y0q5mg15ch] {
    color: #FFFAFA;
}
/* _content/WebUi/Views/Articles/Index.cshtml.rz.scp.css */
.article-item[b-jeqcdv47zy] {
    display: block;
    color: #FFFAFA;
    text-align: center;
    width: 100%;
}
/* _content/WebUi/Views/Home/Index.cshtml.rz.scp.css */
.conteiner-canvas[b-5r8mtzixyh] {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 95%;
  height: 95%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.intro-conteiner[b-5r8mtzixyh] {
  margin: 0 auto;
  padding: 0;
  display: block;
  text-align: center;
  position: relative;
  margin-left: auto;
}
.intro-conteiner-sturtup[b-5r8mtzixyh] {
}

.main-page[b-5r8mtzixyh] {
}

.intro-conteiner-canvas[b-5r8mtzixyh]{
}

.outside[b-5r8mtzixyh] {
  position: relative;
}

.inside[b-5r8mtzixyh] {
  width: 150%;
}

.intro-conteiner-slogan[b-5r8mtzixyh] {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  left: 10vw;
  margin: 0;
  text-align: left;
  display: block;
}

.intro-conteiner__maintence[b-5r8mtzixyh] {
  display: flex;
}

.intro-conteiner-slogan__maintence[b-5r8mtzixyh] {
  color: #FFFAFA;
  margin: 0;
  font-family: 'Manrope';
  font-size: 96px;
}

.intro-conteiner__about[b-5r8mtzixyh] {
  margin: 0 auto;
}

.intro-conteiner-slogan__about[b-5r8mtzixyh] {
  color: #FFFAFA;
  margin: 0 auto;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 49px;
}

.intro-conteiner__by[b-5r8mtzixyh] {
  display: flex;
}

.intro-conteiner-slogan__by[b-5r8mtzixyh] {
  color: #FFFAFA;
  margin: 0 0 60px 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;
}

.bottom-conteiner[b-5r8mtzixyh] {
  position: absolute;
  bottom: 0px;
}

.about-conteiner[b-5r8mtzixyh] {
  width: 100%;
  height: 100vh;
}

.about-conteiner-content[b-5r8mtzixyh] {
  width: 100%;
}

.container-about-text__header[b-5r8mtzixyh] {
  color: #FFFAFA;
  margin: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 49px;
}

.container-about-text_h[b-5r8mtzixyh]{
  text-align:center;
}

.container-about-text__main[b-5r8mtzixyh] {
  color: #FFFAFA;
  margin: 10px 0 0 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.content[b-5r8mtzixyh] {
  position: absolute;
  margin: 40px 0 0 0;
  width: 80%;
  left: 10vw;
  margin-right: auto;
  margin-left: auto;
}

.about-technologies[b-5r8mtzixyh] {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.787);
  overflow: hidden;
}
/* _content/WebUi/Views/Shared/AboutPartial/0IntroSection.cshtml.rz.scp.css */
.intro-article[b-orui8j8jp3] {
    display: block;
}

.img_intro_container[b-orui8j8jp3] {

}

.list_item[b-orui8j8jp3] {
    color: #FFFAFA;
    margin: 0 auto;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

    .list_item[b-orui8j8jp3]::marker {
        color: #EF5DA8;
        font-size: 1.5em;
    }

.pointer[b-orui8j8jp3]{
    
}

.landscape[b-orui8j8jp3] {
    background-image: url(/img/fractals.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    border: 2px solid;
}

.content[b-orui8j8jp3] {
    margin: 0 auto;
    width: 960px;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2em;
    align-items: center;
    overflow: hidden;
}

article[b-orui8j8jp3] {
    float: left;
    width: 960px;
    padding-bottom: 2em;
}

article p:first-of-type[b-orui8j8jp3] {
    margin-top: 0;
}

h1[b-orui8j8jp3] {
    color: #FFFAFA;
    margin: 0 auto;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 64px;
}

.article-format p[b-orui8j8jp3] {
    padding: 1em 0 1em 0;
    word-wrap: break-word;
    text-align: justify;
    color: #FFFAFA;
    margin: 0 auto;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 32px;
}

.horizontal_cards[b-orui8j8jp3] {
    width: 100%;
    height: 100%;
}
/* _content/WebUi/Views/Shared/HomePartial/0AboutSection.cshtml.rz.scp.css */
.conteiner-canvas[b-u4gvsa75bf] {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 95%;
  height: 95%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.intro-conteiner[b-u4gvsa75bf] {
  margin: 0 auto;
  padding: 0;
  display: block;
  text-align: center;
  position: relative;
  margin-left: auto;
}
.intro-conteiner-sturtup[b-u4gvsa75bf] {
}

.main-page[b-u4gvsa75bf] {
  height: 600vh
}

.intro-conteiner-canvas[b-u4gvsa75bf]{
}

.outside[b-u4gvsa75bf] {
  position: relative;
}

.inside[b-u4gvsa75bf] {
  width: 150%;
}

.intro-conteiner-slogan[b-u4gvsa75bf] {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  left: 10vw;
  margin: 0;
  text-align: left;
  display: block;
}

.intro-conteiner__maintence[b-u4gvsa75bf] {
  display: flex;
}

.intro-conteiner-slogan__maintence[b-u4gvsa75bf] {
  color: #FFFAFA;
  margin: 0;
  font-family: 'Manrope';
  font-size: 96px;
}

.intro-conteiner__about[b-u4gvsa75bf] {
  margin: 0 auto;
}

.intro-conteiner-slogan__about[b-u4gvsa75bf] {
  color: #FFFAFA;
  margin: 0 auto;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 49px;
}

.intro-conteiner__by[b-u4gvsa75bf] {
  display: flex;
}

.intro-conteiner-slogan__by[b-u4gvsa75bf] {
  color: #FFFAFA;
  margin: 0 0 60px 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;
}

.bottom-conteiner[b-u4gvsa75bf] {
  position: absolute;
  bottom: 0px;
}

.about-conteiner[b-u4gvsa75bf] {
  width: 100%;
  height: 100vh;
}

.about-conteiner-content[b-u4gvsa75bf] {
  width: 100%;
}

.container-about-text__header[b-u4gvsa75bf] {
  color: #FFFAFA;
  margin: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 49px;
}

.container-about-text_h[b-u4gvsa75bf]{
  text-align:center;
}

.container-about-text__main[b-u4gvsa75bf] {
  color: #FFFAFA;
  margin: 10px 0 0 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.content[b-u4gvsa75bf] {
  position: absolute;
  margin: 40px 0 0 0;
  width: 80%;
  left: 10vw;
  margin-right: auto;
  margin-left: auto;
}

.about-technologies[b-u4gvsa75bf] {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.787);
  overflow: hidden;
}
/* _content/WebUi/Views/Shared/HomePartial/1IntroTextSection.cshtml.rz.scp.css */
.content[b-0k08ddjbbj] {
    margin: 0 auto;
    padding-top: 2em;
    width: 960px;
    max-width: 100%;
}

article[b-0k08ddjbbj] {
    float: left;
    width: 960px;
    padding-bottom: 2em;
}

article p:first-of-type[b-0k08ddjbbj] {
    margin-top: 0;
}

h1[b-0k08ddjbbj] {
    color: #FFFAFA;
    margin: 0 auto;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 64px;
}

.article-format p[b-0k08ddjbbj] {
    padding: 1em 0 1em 0;
    word-wrap: break-word;
    text-align: justify;
    color: #FFFAFA;
    margin: 0 auto;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 32px;
}
/* _content/WebUi/Views/Shared/HomePartial/2TechnologySection.cshtml.rz.scp.css */
.conteiner-canvas[b-4a2nxwv7f9] {
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 95%;
    height: 95%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.intro-conteiner[b-4a2nxwv7f9] {
    margin: 0 auto;
    padding: 0;
    display: block;
    text-align: center;
    position: relative;
    margin-left: auto;
}

.intro-conteiner-sturtup[b-4a2nxwv7f9] {
}

.main-page[b-4a2nxwv7f9] {
    height: 600vh
}

.intro-conteiner-canvas[b-4a2nxwv7f9] {
}

.outside[b-4a2nxwv7f9] {
    position: relative;
}

.inside[b-4a2nxwv7f9] {
    width: 150%;
}

.intro-conteiner-slogan[b-4a2nxwv7f9] {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    left: 10vw;
    margin: 0;
    text-align: left;
    display: block;
}

.intro-conteiner__maintence[b-4a2nxwv7f9] {
    display: flex;
}

.intro-conteiner-slogan__maintence[b-4a2nxwv7f9] {
    color: #FFFAFA;
    margin: 0;
    font-family: 'Manrope';
    font-size: 96px;
}

.intro-conteiner__about[b-4a2nxwv7f9] {
    margin: 0 auto;
}

.intro-conteiner-slogan__about[b-4a2nxwv7f9] {
    color: #FFFAFA;
    margin: 0 auto;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 49px;
}

.intro-conteiner__by[b-4a2nxwv7f9] {
    display: flex;
}

.intro-conteiner-slogan__by[b-4a2nxwv7f9] {
    color: #FFFAFA;
    margin: 0 0 60px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
}

.bottom-conteiner[b-4a2nxwv7f9] {
    position: absolute;
    bottom: 0px;
}

.about-conteiner[b-4a2nxwv7f9] {
    width: 100%;
    height: 100vh;
}

.about-conteiner-content[b-4a2nxwv7f9] {
    width: 100%;
}

.container-about-text__header[b-4a2nxwv7f9] {
    color: #FFFAFA;
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 49px;
}

.container-about-text_h[b-4a2nxwv7f9] {
    text-align: center;
}

.container-about-text__main[b-4a2nxwv7f9] {
    color: #FFFAFA;
    margin: 10px 0 0 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.content[b-4a2nxwv7f9] {
    position: absolute;
    margin: 40px 0 0 0;
    width: 80%;
    left: 10vw;
    margin-right: auto;
    margin-left: auto;
}

.about-technologies[b-4a2nxwv7f9] {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.787);
    overflow: hidden;
}
/* _content/WebUi/Views/Shared/HomePartial/3OutputTextSection.cshtml.rz.scp.css */
.content[b-i07ce0vvim] {
    margin: 0 auto;
    width: 960px;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 2em;
}

article[b-i07ce0vvim] {
    float: left;
    width: 960px;
    padding-bottom: 2em;
}

article p:first-of-type[b-i07ce0vvim] {
    margin-top: 0;
}

h1[b-i07ce0vvim] {
    color: #FFFAFA;
    margin: 0 auto;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 64px;
}

.article-format p[b-i07ce0vvim] {
    padding: 1em 0 1em 0;
    word-wrap: break-word;
    text-align: justify;
    color: #FFFAFA;
    margin: 0 auto;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 32px;
}
/* _content/WebUi/Views/Shared/HomePartial/4AbilitiesSection.cshtml.rz.scp.css */
.button-gradient[b-3l31j7pbnw] {
	border: none;
	display: inline-block;
	border-radius: 16px;
	color: #FFFAFA;
	position: relative;
	vertical-align: middle;
	z-index: 1;
	font-size: 14px;
	font-weight: 200;
	text-transform: uppercase;
	font-family: 'Poppins';
	line-height: normal;
	letter-spacing: 2px;
    padding: 6px 30px 8px;
}

    .button-gradient[b-3l31j7pbnw]:before,
    .button-gradient[b-3l31j7pbnw]:after {
        content: ' ';
        position: absolute;
        border-radius: 16px;
    }

    .button-gradient[b-3l31j7pbnw]:before {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -2;
        background: linear-gradient(to right, #EF5DA8 0%,#5D5FEF 100%);
    }

    .button-gradient[b-3l31j7pbnw]:after {
        top: 1.5px;
        bottom: 1.5px;
        left: 1.5px;
        right: 1.5px;
        background-color: #202020;
        z-index: -1;
        opacity: 1;
        transition: all 0.6s ease-in-out;
    }

    .button-gradient:hover[b-3l31j7pbnw]:after {
        opacity: 0;
    }

.no-touch a.btn:hover[b-3l31j7pbnw] {
	background: #00a2ad;
	box-shadow: 0px 8px 2px 0 rgba(0,0,0,0.075);
	transform: translateY(-2px);
	transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active[b-3l31j7pbnw], a.btn:active[b-3l31j7pbnw] {
	background: #008a93;
	box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
	transform: translate3d(0,1px,0);
	transition: all 0.025s 0s ease-out;
}



div.cards[b-3l31j7pbnw] {
	text-align: center;
	padding-top: 0;
	padding-bottom: 4em;
	border: 1px solid rgb(10, 10, 10);
	box-shadow: 0em 0.2em 2em rgb(10, 10, 10);
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

div.cards h1[b-3l31j7pbnw] {
		color: #FFFAFA;
		margin: 0 auto;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 48px;
        padding: 1em;
	}

div.card-ability[b-3l31j7pbnw] {
	display: inline-block;
	margin: 8px;
	height: 300px;
	background: linear-gradient(rgb(81, 81, 81), rgb(81, 81, 81)) padding-box, linear-gradient(rgb(81, 81, 81), rgb(81, 81, 81)) border-box;
	border-radius: 18px 18px 0 0;
	border-top: 2px solid transparent;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	border-bottom: 2px solid rgb(81, 81, 81);
	max-width: 300px;
	perspective: 1000px;
	position: relative;
	text-align: left;
	transition: all 0.3s 0s ease-in;
	width: 250px;
	z-index: 1;
	color: #FFFAFA;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 100;
}

	div.card-ability .card__image-holder[b-3l31j7pbnw] {
		height: 0;
		z-index: 20;
        margin-top: 0;
        text-align: center;
	}


	div.card-ability div.card-title[b-3l31j7pbnw] {
		background: rgb(81, 81, 81);
		padding: 0 1em 1em 1em;
		margin-top: 230px;
		margin-bottom: 0;
		position: relative;
		z-index: 0;

	}

		div.card-ability div.card-title a.toggle-info[b-3l31j7pbnw] {
			border-radius: 32px;
			height: 32px;
			padding: 0;
			position: absolute;
			right: 15px;
			top: 10px;
			width: 32px;
		}

		div.card-ability div.card-title h2[b-3l31j7pbnw] {
			font-size: 24px;
			font-weight: 700;
			letter-spacing: -0.05em;
			margin: 0;
			padding: 0;
            font-style: normal;
            font-weight: 100;
		}

			div.card-ability div.card-title h2 small[b-3l31j7pbnw] {
				display: block;
				font-size: 18px;
				font-weight: 600;
				letter-spacing: -0.025em;
                font-style: normal;
                font-weight: 100;
			}

	div.card-ability div.card-description[b-3l31j7pbnw] {
		padding: 0 15px 10px;
		position: relative;
		font-size: 14px;
	}

	div.card-ability div.card-actions[b-3l31j7pbnw] {
		padding: 10px 15px 20px;
		text-align: center;
	}

	div.card-ability div.card-flap[b-3l31j7pbnw] {
		background: rgb(91, 91, 91);
		position: absolute;
		width: 100%;
		transform-origin: top;
		transform: rotateX(-90deg);
	}

	div.card-ability div.flap1[b-3l31j7pbnw] {
		transition: all 0.3s 0.3s ease-out;
		padding-top: 1em;
		z-index: -1;
	}

	div.card-ability div.flap2[b-3l31j7pbnw] {
		border-radius: 0 0 18px 18px;
		transition: all 0.3s 0s ease-out;
		z-index: -2;
	}

div.cards.showing div.card-ability[b-3l31j7pbnw] {
	cursor: pointer;
	opacity: 0.6;
	transform: scale(0.88);
}

.no-touch div.cards.showing div.card-ability:hover[b-3l31j7pbnw] {
	opacity: 0.94;
	transform: scale(0.92);
}

div.card-ability.show[b-3l31j7pbnw] {
	opacity: 1 !important;
	transform: scale(1) !important;
}

	div.card-ability.show div.card-flap[b-3l31j7pbnw] {
		background: rgb(81, 81, 81);
		transform: rotateX(0deg);
	}

	div.card-ability.show div.flap1[b-3l31j7pbnw] {
		transition: all 0.3s 0s ease-out;
	}

	div.card-ability.show div.flap2[b-3l31j7pbnw] {
		transition: all 0.3s 0.2s ease-out;
	}
 
/* _content/WebUi/Views/Shared/HomePartial/5OutputTextSection.cshtml.rz.scp.css */
.content[b-4l0mcwq3r4] {
    margin: 0 auto;
    width: 960px;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2em;
    align-items: center;
    overflow: hidden;
}

article[b-4l0mcwq3r4] {
    float: left;
    width: 960px;
    padding-bottom: 2em;
}

article p:first-of-type[b-4l0mcwq3r4] {
    margin-top: 0;
}

h1[b-4l0mcwq3r4] {
    color: #FFFAFA;
    margin: 0 auto;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 64px;
}

.article-format p[b-4l0mcwq3r4] {
    padding: 1em 0 1em 0;
    word-wrap: break-word;
    text-align: justify;
    color: #FFFAFA;
    margin: 0 auto;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 32px;
}
/* _content/WebUi/Views/Shared/LayoutPartial/_Footer.cshtml.rz.scp.css */


ul[b-8garf9opkr] {
    margin: 0px;
    padding: 0px;
}



.footer-section[b-8garf9opkr] {
    background-image: linear-gradient(90deg,rgb(10, 10, 10), rgb(61, 61, 61));
    position: relative;
    border-top: 1px solid #373636;
    box-shadow: 0em 0.2em 2em rgb(10, 10, 10);
}

.footer-cta[b-8garf9opkr] {
    border-bottom: 1px solid #373636;
}

.single-cta i[b-8garf9opkr] {
    background-image: linear-gradient(to right, #EF5DA8 0%,#5D5FEF 100%);
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text[b-8garf9opkr] {
    padding-left: 15px;
    display: inline-block;
}

    .cta-text h4[b-8garf9opkr] {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 2px;
    }

    .cta-text span[b-8garf9opkr] {
        color: #757575;
        font-size: 15px;
    }

.footer-content[b-8garf9opkr] {
    position: relative;
    z-index: 2;
}

.footer-pattern img[b-8garf9opkr] {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-text p[b-8garf9opkr] {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.button-width[b-8garf9opkr] {
    height: 100%;
}

.footer-social-icon span[b-8garf9opkr] {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a[b-8garf9opkr] {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i[b-8garf9opkr] {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.facebook-bg[b-8garf9opkr] {
    background: #3B5998;
}

.twitter-bg[b-8garf9opkr] {
    background: #55ACEE;
}

.google-bg[b-8garf9opkr] {
    background: #DD4B39;
}

.footer-widget-heading h3[b-8garf9opkr] {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

    .footer-widget-heading h3[b-8garf9opkr]::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -15px;
        height: 2px;
        width: 50px;
        background-image: linear-gradient(to right, #EF5DA8 0%,#5D5FEF 100%);
    }

.footer-widget ul li[b-8garf9opkr] {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

    .footer-widget ul li a:hover[b-8garf9opkr] {
        color: rgb(81, 81, 81);
    }

    .footer-widget ul li a[b-8garf9opkr] {
        color: #878787;
        text-transform: capitalize;
    }

.subscribe-form[b-8garf9opkr] {
    position: relative;
    overflow: hidden;
}

    .subscribe-form input[b-8garf9opkr] {
        width: 100%;
        padding: 14px 28px;
        background: #2E2E2E;
        border: 1px solid #2E2E2E;
        color: #fff;
    }

    .subscribe-form button[b-8garf9opkr] {
        position: absolute;
        right: 0;
        background-image: linear-gradient(to right, #EF5DA8 0%,#5D5FEF 100%);
        padding: 13px 20px;
        top: 0;
    }

        .subscribe-form button i[b-8garf9opkr] {
            color: #fff;
            font-size: 22px;
            transform: rotate(-6deg);
        }

.copyright-area[b-8garf9opkr] {
    background: #202020;
    padding: 25px 0;
}

.copyright-text p[b-8garf9opkr] {
    margin: 0;
    font-size: 14px;
    color: rgb(81, 81, 81);
}

    .copyright-text p a[b-8garf9opkr] {
        color: rgb(81, 81, 81);
    }

.footer-menu li[b-8garf9opkr] {
    display: inline-block;
    margin-left: 20px;
}

    .footer-menu li:hover a[b-8garf9opkr] {
        color: rgb(81, 81, 81);
    }

    .footer-menu li a[b-8garf9opkr] {
        font-size: 14px;
        color: #878787;
    }
/* _content/WebUi/Views/Shared/LayoutPartial/_Header.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. 

*/

a.navbar-brand[b-rs81u7oiad] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.button-gradient[b-rs81u7oiad] {
    border: none;
    display: inline-block;
    border-radius: 16px;
    color: #FFFAFA;
    position: relative;
    vertical-align: middle;
    z-index: 1;
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
    font-family: 'Poppins';
    line-height: normal;
    letter-spacing: 2px;
}

    .button-gradient[b-rs81u7oiad]:before,
    .button-gradient[b-rs81u7oiad]:after {
        content: ' ';
        position: absolute;
        border-radius: 16px;
    }

    .button-gradient[b-rs81u7oiad]:before {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -2;
        background: linear-gradient(to right, #EF5DA8 0%,#5D5FEF 100%);
    }

    .button-gradient[b-rs81u7oiad]:after {
        top: 1.5px;
        bottom: 1.5px;
        left: 1.5px;
        right: 1.5px;
        background-color: #202020;
        z-index: -1;
        opacity: 1;
        transition: all 0.6s ease-in-out;
    }

    .button-gradient:hover[b-rs81u7oiad]:after {
        opacity: 0;
    }


.border-top[b-rs81u7oiad] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-rs81u7oiad] {
    border-bottom: 1px solid #e5e5e5;
}

.last-margin[b-rs81u7oiad] {
    margin-right: 0;
}

.margin-r-3[b-rs81u7oiad] {
    margin-right: 10px;
}

/* Page content */
.content[b-rs81u7oiad] {
    padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky[b-rs81u7oiad] {
    position: fixed;
    top: 0;
    width: 100%
}

    /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content[b-rs81u7oiad] {
        padding-top: 102px;
    }

.sticky-background[b-rs81u7oiad] {
    z-index: 100;
    background-image: linear-gradient(90deg,rgb(10, 10, 10), rgb(61, 61, 61));
    background-color: rgb(61, 61, 61);
    box-shadow: 0em 0.2em 2em rgb(10, 10, 10);
}

.box-shadow[b-rs81u7oiad] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-rs81u7oiad] {
    font-size: 1rem;
    line-height: normal;
}

.footer[b-rs81u7oiad] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: normal;
}

.nav-item[b-rs81u7oiad] {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    margin: 0;
    margin-right: 20px;
}

.navbar-center[b-rs81u7oiad] {
    display: flex;
    margin: auto;
    margin-bottom: 0;
}

.navbar-logo-padding[b-rs81u7oiad] {
    margin-right: 0;
}

.container-display[b-rs81u7oiad] {
    display: flex;
    padding: 20px;
}

.rigth-align[b-rs81u7oiad] {
    display: block;
    text-align: center;
    padding: 8px 14px 8px 14px;
    margin: 0;
}

.navbar[b-rs81u7oiad] {
    padding: 0;
}

.content-container[b-rs81u7oiad] {
    margin: 0;
    padding: 0;
}
/* _content/WebUi/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. 

*/

a.navbar-brand[b-50ebo1uj6s] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.button-gradient[b-50ebo1uj6s] {
    border: none;
    display: inline-block;
    border-radius: 16px;
    color: #FFFAFA;
    position: relative;
    vertical-align: middle;
    z-index: 1;
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
    font-family: 'Poppins';
    line-height:normal;
    letter-spacing: 2px;
}

    .button-gradient[b-50ebo1uj6s]:before,
    .button-gradient[b-50ebo1uj6s]:after {
        content: ' ';
        position: absolute;
        border-radius: 16px;
    }

    .button-gradient[b-50ebo1uj6s]:before {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -2;
        background: linear-gradient(to right, #EF5DA8 0%,#5D5FEF 100%);
    }

    .button-gradient[b-50ebo1uj6s]:after {
        top: 1.5px;
        bottom: 1.5px;
        left: 1.5px;
        right: 1.5px;
        background-color: #202020;
        z-index: -1;
        opacity: 1;
        transition: all 0.6s ease-in-out;
    }

    .button-gradient:hover[b-50ebo1uj6s]:after {
        opacity: 0;
    }


.border-top[b-50ebo1uj6s] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-50ebo1uj6s] {
    border-bottom: 1px solid #e5e5e5;
}
.last-margin[b-50ebo1uj6s] {
    margin-right: 0;
}
.margin-r-3[b-50ebo1uj6s] {
    margin-right: 10px;
}

/* Page content */
.content[b-50ebo1uj6s] {
    padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky[b-50ebo1uj6s] {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content[b-50ebo1uj6s] {
    padding-top: 102px;
}

.sticky-background[b-50ebo1uj6s] {
    z-index: 2;
    background-image: linear-gradient(90deg,rgb(10, 10, 10), rgb(61, 61, 61));
    background-color: rgb(61, 61, 61);
    box-shadow: 0em 0.2em 2em rgb(10, 10, 10);
}

.box-shadow[b-50ebo1uj6s] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-50ebo1uj6s] {
    font-size: 1rem;
    line-height: normal;
}

.footer[b-50ebo1uj6s] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: normal;
}

.nav-item[b-50ebo1uj6s] {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    margin: 0;
    margin-right: 20px;
}

.navbar-center[b-50ebo1uj6s] {
    display: flex;
    margin: auto;
    margin-bottom: 0;
}

.navbar-logo-padding[b-50ebo1uj6s] {
    margin-right: 0;
}

.container-display[b-50ebo1uj6s] {
    display: flex;
    padding: 15px;
}

.rigth-align[b-50ebo1uj6s] {
    display: block;
    text-align: center;
    padding: 8px 14px 8px 14px;
    margin: 0;
}

.navbar[b-50ebo1uj6s] {
    padding: 0;
}

.content-container[b-50ebo1uj6s] {
    margin: 0;
    padding: 0;
}
