.conteiner-canvas[b-u4gvsa75bf] {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 95%;
  height: 95%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.intro-conteiner[b-u4gvsa75bf] {
  margin: 0 auto;
  padding: 0;
  display: block;
  text-align: center;
  position: relative;
  margin-left: auto;
}
.intro-conteiner-sturtup[b-u4gvsa75bf] {
}

.main-page[b-u4gvsa75bf] {
  height: 600vh
}

.intro-conteiner-canvas[b-u4gvsa75bf]{
}

.outside[b-u4gvsa75bf] {
  position: relative;
}

.inside[b-u4gvsa75bf] {
  width: 150%;
}

.intro-conteiner-slogan[b-u4gvsa75bf] {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  left: 10vw;
  margin: 0;
  text-align: left;
  display: block;
}

.intro-conteiner__maintence[b-u4gvsa75bf] {
  display: flex;
}

.intro-conteiner-slogan__maintence[b-u4gvsa75bf] {
  color: #FFFAFA;
  margin: 0;
  font-family: 'Manrope';
  font-size: 96px;
}

.intro-conteiner__about[b-u4gvsa75bf] {
  margin: 0 auto;
}

.intro-conteiner-slogan__about[b-u4gvsa75bf] {
  color: #FFFAFA;
  margin: 0 auto;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 49px;
}

.intro-conteiner__by[b-u4gvsa75bf] {
  display: flex;
}

.intro-conteiner-slogan__by[b-u4gvsa75bf] {
  color: #FFFAFA;
  margin: 0 0 60px 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;
}

.bottom-conteiner[b-u4gvsa75bf] {
  position: absolute;
  bottom: 0px;
}

.about-conteiner[b-u4gvsa75bf] {
  width: 100%;
  height: 100vh;
}

.about-conteiner-content[b-u4gvsa75bf] {
  width: 100%;
}

.container-about-text__header[b-u4gvsa75bf] {
  color: #FFFAFA;
  margin: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 49px;
}

.container-about-text_h[b-u4gvsa75bf]{
  text-align:center;
}

.container-about-text__main[b-u4gvsa75bf] {
  color: #FFFAFA;
  margin: 10px 0 0 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.content[b-u4gvsa75bf] {
  position: absolute;
  margin: 40px 0 0 0;
  width: 80%;
  left: 10vw;
  margin-right: auto;
  margin-left: auto;
}

.about-technologies[b-u4gvsa75bf] {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.787);
  overflow: hidden;
}