.button-gradient[b-3l31j7pbnw] {
	border: none;
	display: inline-block;
	border-radius: 16px;
	color: #FFFAFA;
	position: relative;
	vertical-align: middle;
	z-index: 1;
	font-size: 14px;
	font-weight: 200;
	text-transform: uppercase;
	font-family: 'Poppins';
	line-height: normal;
	letter-spacing: 2px;
    padding: 6px 30px 8px;
}

    .button-gradient[b-3l31j7pbnw]:before,
    .button-gradient[b-3l31j7pbnw]:after {
        content: ' ';
        position: absolute;
        border-radius: 16px;
    }

    .button-gradient[b-3l31j7pbnw]:before {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -2;
        background: linear-gradient(to right, #EF5DA8 0%,#5D5FEF 100%);
    }

    .button-gradient[b-3l31j7pbnw]:after {
        top: 1.5px;
        bottom: 1.5px;
        left: 1.5px;
        right: 1.5px;
        background-color: #202020;
        z-index: -1;
        opacity: 1;
        transition: all 0.6s ease-in-out;
    }

    .button-gradient:hover[b-3l31j7pbnw]:after {
        opacity: 0;
    }

.no-touch a.btn:hover[b-3l31j7pbnw] {
	background: #00a2ad;
	box-shadow: 0px 8px 2px 0 rgba(0,0,0,0.075);
	transform: translateY(-2px);
	transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active[b-3l31j7pbnw], a.btn:active[b-3l31j7pbnw] {
	background: #008a93;
	box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
	transform: translate3d(0,1px,0);
	transition: all 0.025s 0s ease-out;
}



div.cards[b-3l31j7pbnw] {
	text-align: center;
	padding-top: 0;
	padding-bottom: 4em;
	border: 1px solid rgb(10, 10, 10);
	box-shadow: 0em 0.2em 2em rgb(10, 10, 10);
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

div.cards h1[b-3l31j7pbnw] {
		color: #FFFAFA;
		margin: 0 auto;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 48px;
        padding: 1em;
	}

div.card-ability[b-3l31j7pbnw] {
	display: inline-block;
	margin: 8px;
	height: 300px;
	background: linear-gradient(rgb(81, 81, 81), rgb(81, 81, 81)) padding-box, linear-gradient(rgb(81, 81, 81), rgb(81, 81, 81)) border-box;
	border-radius: 18px 18px 0 0;
	border-top: 2px solid transparent;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	border-bottom: 2px solid rgb(81, 81, 81);
	max-width: 300px;
	perspective: 1000px;
	position: relative;
	text-align: left;
	transition: all 0.3s 0s ease-in;
	width: 250px;
	z-index: 1;
	color: #FFFAFA;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 100;
}

	div.card-ability .card__image-holder[b-3l31j7pbnw] {
		height: 0;
		z-index: 20;
        margin-top: 0;
        text-align: center;
	}


	div.card-ability div.card-title[b-3l31j7pbnw] {
		background: rgb(81, 81, 81);
		padding: 0 1em 1em 1em;
		margin-top: 230px;
		margin-bottom: 0;
		position: relative;
		z-index: 0;

	}

		div.card-ability div.card-title a.toggle-info[b-3l31j7pbnw] {
			border-radius: 32px;
			height: 32px;
			padding: 0;
			position: absolute;
			right: 15px;
			top: 10px;
			width: 32px;
		}

		div.card-ability div.card-title h2[b-3l31j7pbnw] {
			font-size: 24px;
			font-weight: 700;
			letter-spacing: -0.05em;
			margin: 0;
			padding: 0;
            font-style: normal;
            font-weight: 100;
		}

			div.card-ability div.card-title h2 small[b-3l31j7pbnw] {
				display: block;
				font-size: 18px;
				font-weight: 600;
				letter-spacing: -0.025em;
                font-style: normal;
                font-weight: 100;
			}

	div.card-ability div.card-description[b-3l31j7pbnw] {
		padding: 0 15px 10px;
		position: relative;
		font-size: 14px;
	}

	div.card-ability div.card-actions[b-3l31j7pbnw] {
		padding: 10px 15px 20px;
		text-align: center;
	}

	div.card-ability div.card-flap[b-3l31j7pbnw] {
		background: rgb(91, 91, 91);
		position: absolute;
		width: 100%;
		transform-origin: top;
		transform: rotateX(-90deg);
	}

	div.card-ability div.flap1[b-3l31j7pbnw] {
		transition: all 0.3s 0.3s ease-out;
		padding-top: 1em;
		z-index: -1;
	}

	div.card-ability div.flap2[b-3l31j7pbnw] {
		border-radius: 0 0 18px 18px;
		transition: all 0.3s 0s ease-out;
		z-index: -2;
	}

div.cards.showing div.card-ability[b-3l31j7pbnw] {
	cursor: pointer;
	opacity: 0.6;
	transform: scale(0.88);
}

.no-touch div.cards.showing div.card-ability:hover[b-3l31j7pbnw] {
	opacity: 0.94;
	transform: scale(0.92);
}

div.card-ability.show[b-3l31j7pbnw] {
	opacity: 1 !important;
	transform: scale(1) !important;
}

	div.card-ability.show div.card-flap[b-3l31j7pbnw] {
		background: rgb(81, 81, 81);
		transform: rotateX(0deg);
	}

	div.card-ability.show div.flap1[b-3l31j7pbnw] {
		transition: all 0.3s 0s ease-out;
	}

	div.card-ability.show div.flap2[b-3l31j7pbnw] {
		transition: all 0.3s 0.2s ease-out;
	}
 