

.article-format p {
    padding: 1em 0 1em 0;
    word-wrap: break-word;
    text-align: justify;
    color: #FFFAFA;
    margin: 0 auto;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 32px;
}

.code_example_container {
    display: flex;
    width: 100%;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-bottom: 5rem;
    margin-top: 2rem;

    border: 1px solid rgb(10, 10, 10);
    box-shadow: 0em 0.2em 2em rgb(10, 10, 10);
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.consist_container {
    display: block;
    float: left;
}
.code_example_content {
    display: block;
    margin-left: 5rem;
    float: right;
}

.text_block_code {
    display: none;
}

.text_block_code--current {
    display: block;

}

summary {
    display: block;
    cursor: pointer;
    outline: 0;
}

summary::-webkit-details-marker {
    display: none;
}


.tree-nav__item {
    display: block;
    white-space: nowrap;
    color: #ccc;
    position: relative;
}

.tree-nav__item.is-expandable::before {
    border-left: 1px solid #333;
    content: "";
    height: 100%;
    left: 0.8rem;
    position: absolute;
    top: 2.4rem;
    height: calc(100% - 2.4rem);
}

.tree-nav__item .tree-nav__item {
    margin-left: 2.4rem;
}

.tree-nav__item.is-expandable[open] > .tree-nav__item-title::before {
    font-family: "ionicons";
    transform: rotate(90deg);
}

.tree-nav__item.is-expandable > .tree-nav__item-title {
    padding-left: 2.4rem;
}

.tree-nav__item.is-expandable > .tree-nav__item-title::before {
    position: absolute;
    will-change: transform;
    transition: transform 300ms ease;
    font-family: "ionicons";
    color: #fff;
    font-size: 1.1rem;
    content: "\f125";
    left: 0;
    display: inline-block;
    width: 1.6rem;
    text-align: center;
}

.tree-nav__item-title {
    cursor: pointer;
    display: block;
    outline: 0;
    color: #fff;
    font-size: 1.5rem;
    line-height: 3.2rem;
}

.tree-nav__item-title .icon {
    display: inline;
    padding-left: 1.6rem;
    margin-right: 0.8rem;
    color: #666;
    font-size: 1.4rem;
    position: relative;
}

.tree-nav__item-title .icon::before {
    top: 0;
    position: absolute;
    left: 0;
    display: inline-block;
    width: 1.6rem;
    text-align: center;
}

.tree-nav__item-title::-webkit-details-marker {
    display: none;
}