html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: linear-gradient(90deg,rgb(10, 10, 10), rgb(61, 61, 61));
    background-color: rgb(61, 61, 61);
    background-repeat: repeat-y;
}

.content-article-form {
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
    .content-article-form textarea {
        height: 200px;
        width: 100%;
        padding: 1rem;
        border-radius: 1rem;
    }