<div class="layout-topbar" style="height: auto">

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
    <div #topbarmenu class="text-center" class="layout-topbar-menu" >
        <div class="row">
            <div class="col">
              <nav class="navbar-expand-lg">
                <div class="row">
                    <div class="col text-center">
                    <a routerLink="" routerLinkActive="active" class="navbar-brand company-name" href="#">
                        CONBENT
                        <!-- <img src="../../../assets/Image/Dark Logo.svg" style="width: 110px; height: 38px;" alt="Logo"> -->
                        </a>
                    <!-- <a class="btn-dark button-active text-start" routerLink="/sign-in" routerLinkActive="active">
                        <svg>
                        <defs>
                            <linearGradient id="grad1">
                                <stop offset="0%" stop-color="#1F493D"/>
                                <stop offset="100%" stop-color="#1F493D" />
                            </linearGradient>
                        </defs>
                        <rect x="0%" y="0%" text-anchor="middle" dominant-baseline="middle" rx="10" ry="10" stroke="url(#grad1)">
                        </rect>
                        <text x="50%" y="50%" text-anchor="middle" dominant-baseline="middle">Subcsribe</text>
                        </svg>
                    </a> -->
                    </div>
                    <div class="col text-center" style="padding-bottom: 0;" >
                    <a class="nav-item nav-link link-body-emphasis btn button-active" routerLink="/project" style="margin-right: 0.5rem;" routerLinkActive="active">
                        <svg>
                        <defs>
                            <linearGradient id="grad1">
                                <stop offset="0%" stop-color="var(--green-color-light)"/>
                                <stop offset="100%" stop-color="var(--green-color-light)" />
                            </linearGradient>
                        </defs>
                        <rect x="0%" y="0%" text-anchor="middle" dominant-baseline="middle" rx="10" ry="10" fill="none" stroke="url(#grad1)">
                        </rect>
                        <text x="50%" y="50%" text-anchor="middle" dominant-baseline="middle">Projects</text>
                        </svg>
                    </a>
                    <a class="nav-item nav-link link-body-emphasis btn button-active" routerLink="/academy" style="margin-left: 0.5rem;" routerLinkActive="active">
                        <svg>
                        <defs>
                            <linearGradient id="grad1">
                                <stop offset="0%" stop-color="var(--green-color-light)"/>
                                <stop offset="100%" stop-color="#var(--green-color-light)" />
                            </linearGradient>
                        </defs>
                        <rect x="0%" y="0%" text-anchor="middle" dominant-baseline="middle" rx="10" ry="10" fill="none" stroke="url(#grad1)">
                        </rect>
                        <text x="50%" y="50%" text-anchor="middle"  dominant-baseline="middle">Articles</text>
                        </svg>
                    </a>
                    </div>
                    <!--<div class="col">
                     <div class="text-end d-flex align-items-center justify-content-end">
                        <a class="link-secondary" href="#" aria-label="Search">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
                        </a>
                        <a class="btn-dark button-active" routerLink="/sign-in" routerLinkActive="active">
                        <svg>
                            <defs>
                                <linearGradient id="grad1">
                                    <stop offset="0%" stop-color="#1F493D"/>
                                    <stop offset="100%" stop-color="#1F493D" />
                                </linearGradient>
                            </defs>
                            <rect x="0%" y="0%" text-anchor="middle" dominant-baseline="middle" rx="10" ry="10" stroke="url(#grad1)">
                            </rect>
                            <text x="50%" y="50%" text-anchor="middle" dominant-baseline="middle">Sign In</text>
                        </svg>
                        </a>
                    </div>
                    </div> -->
                </div>
            </nav>
              
          </div>
        </div>
      </div>
    
    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <!-- <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button> -->
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <!-- <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button> -->
    </div>
</div>