/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. 

*/

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.button-gradient {
    border: none;
    display: inline-block;
    border-radius: 16px;
    color: #FFFAFA;
    position: relative;
    vertical-align: middle;
    z-index: 1;
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
    font-family: 'Poppins';
    line-height:normal;
    letter-spacing: 2px;
}

    .button-gradient:before,
    .button-gradient:after {
        content: ' ';
        position: absolute;
        border-radius: 16px;
    }

    .button-gradient:before {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -2;
        background: linear-gradient(to right, #EF5DA8 0%,#5D5FEF 100%);
    }

    .button-gradient:after {
        top: 1.5px;
        bottom: 1.5px;
        left: 1.5px;
        right: 1.5px;
        background-color: #202020;
        z-index: -1;
        opacity: 1;
        transition: all 0.6s ease-in-out;
    }

    .button-gradient:hover:after {
        opacity: 0;
    }


.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: normal;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: normal;
}

.nav-item {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    margin: 0;
    margin-right: 20px;
}

.navbar-center {
    display: flex;
    margin: auto;
    margin-bottom: 0;
}

.navbar-logo-padding {
    margin-right: 0;
}

.container-display {
    display: flex;
    padding: 20px;
}

.rigth-align {
    display: block;
    text-align: center;
    padding: 8px 14px 8px 14px;
    margin: 0;
}

.navbar {
    padding: 0;
}

.content-container {
    margin: 0;
    padding: 0;
}
