<div class="container mt-4 next-step-container">
    <div class="row">
      <div class="col text-center">
        <h1 class="section-header-title" >
          NEXT STEPS
        </h1>
      </div>
    </div>
    <div class="row mt-4 align-items-center justify-content-center "  
    >
        <div class="col-md-6">
          <div class="h-100 p-4 mt-2 mb-2 left-card fade-in-element-left "
          appIntersectionObserver (intersectionVisible)="fadeInOnScrollLeft($event)">
            <h2>Explore project</h2>
            <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
            <button pButton class="custom-rounded" type="button" routerLink="/project">Projects</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-4 mt-2 mb-2 right-card fade-in-element-right "
          appIntersectionObserver (intersectionVisible)="fadeInOnScrollRight($event)">
            <h2 class="">Explore articles</h2>
            <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
            <button pButton class="blue-color custom-rounded " type="button" routerLink="/academy">Articles</button>
          </div>
        </div>
      </div>
</div>
