<link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css" rel="stylesheet" type="text/css" />

<div class="intro-article">
  <div class="img_intro_container">
    <div class="landscape">
    </div>
  </div>
  <section class="content">
    <article class="article-format">
      <h1>About me</h1>
      <p>Wolf vinyl hella, jean shorts disrupt skateboard master cleanse hashtag iPhone. Pop-up bicycle rights Brooklyn iPhone Helvetica kitsch Godard, XOXO blog aesthetic beard quinoa. Fixie kale chips PBR&B twee, YOLO raw denim before they sold out photo booth bespoke seitan food truck. Ethical chia before they sold out, trust fund viral ennui you probably haven't heard of them cred bitters mixtape semiotics deep v jean shorts pork belly occupy shabby chic sriracha ethnic normcore bicycle rights single-origin coffee slow-carb jean shorts. Twee ethnic mumblecore, Carles banh mi slow-carb pour-over organic. Ethical tofu narwhal, hoodie viral ennui tousled paleo. Butcher chia cray iPhone keytar, sustainable Cosby sweater literally try-hard put a bird on it photo booth ethical street art literally semiotics.</p>

    </article>
  </section>
  <div class="code_example_container">
    <div class="consist_container">
      <nav class="tree-nav">

        <details class="tree-nav__item is-expandable">
          <summary class="tree-nav__item-title">Knowledge Units</summary>
          <details class="tree-nav__item is-expandable">

            <summary class="tree-nav__item-title">The Six Duchies</summary>
            <details class="tree-nav__item is-expandable">
              <summary class="tree-nav__item-title">The Farseer Trilogy</summary>
              <div class="tree-nav__item">

              </div>
            </details>

            <details class="tree-nav__item is-expandable">
              <summary class="tree-nav__item-title">The Tawny Man Trilogy</summary>
              <div class="tree-nav__item">
                <a class="tree-nav__item-title"> FOOL'S ERRAND</a>
                <a class="tree-nav__item-title"> GOLDEN FOOL</a>
                <a class="tree-nav__item-title"> FOOL'S FATE</a>
              </div>
            </details>

            <details class="tree-nav__item is-expandable">
              <summary class="tree-nav__item-title">The Fitz and the Fool Trilogy</summary>
              <div class="tree-nav__item">
                <a class="tree-nav__item-title"> FOOL'S ASSASSIN</a>
                <a class="tree-nav__item-title"> FOOL'S QUEST</a>
                <a class="tree-nav__item-title"> Assassin's Fate</a>
                <a class="tree-nav__item-title"> Initilize ASP</a>
                <a class="tree-nav__item-title"> Initilize C#</a>
              </div>
            </details>


          </details>
        </details>

        <details class="tree-nav__item is-expandable">
          <summary class="tree-nav__item-title">The Soldier Son trilogy</summary>
          <div class="tree-nav__item">
            <a class="tree-nav__item-title"> SHAMAN'S CROSSING</a>
            <a class="tree-nav__item-title"> FOREST MAGE</a>
          </div>
        </details>

      </nav>
    </div>
    <div class="code_example_content">
      <div class="text_block_code article-format text_block_code--current" data-article-name=" Initilize ASP">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut felis et nisi maximus posuere. Fusce posuere et lacus nec condimentum. Sed sed neque a sem blandit tempus. Vivamus eleifend non est nec venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam faucibus vulputate tempus. Integer sagittis massa ac justo rutrum condimentum. Phasellus scelerisque dapibus odio, nec mollis quam scelerisque at. Phasellus semper, metus sit amet porttitor efficitur, nibh libero tempor ante, non hendrerit sem ex vel libero. Nam rutrum egestas erat, vitae finibus mauris suscipit eget. Donec convallis quam eros, ac facilisis elit placerat ac. Integer ut ipsum accumsan, varius enim sed, mattis urna. Maecenas eget dignissim arcu. Cras enim purus, hendrerit a augue eget, tincidunt cursus dolor. Etiam venenatis, mauris sed consectetur venenatis, felis dolor dignissim tellus, sit amet elementum mauris nisl in nisl. Aliquam erat volutpat.
        </p>
        <pre>
          <code class="language-css">
            {{ CodeVariable }}
          </code>
        </pre>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut felis et nisi maximus posuere. Fusce posuere et lacus nec condimentum. Sed sed neque a sem blandit tempus. Vivamus eleifend non est nec venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam faucibus vulputate tempus. Integer sagittis massa ac justo rutrum condimentum. Phasellus scelerisque dapibus odio, nec mollis quam scelerisque at. Phasellus semper, metus sit amet porttitor efficitur, nibh libero tempor ante, non hendrerit sem ex vel libero. Nam rutrum egestas erat, vitae finibus mauris suscipit eget. Donec convallis quam eros, ac facilisis elit placerat ac. Integer ut ipsum accumsan, varius enim sed, mattis urna. Maecenas eget dignissim arcu. Cras enim purus, hendrerit a augue eget, tincidunt cursus dolor. Etiam venenatis, mauris sed consectetur venenatis, felis dolor dignissim tellus, sit amet elementum mauris nisl in nisl. Aliquam erat volutpat.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut felis et nisi maximus posuere. Fusce posuere et lacus nec condimentum. Sed sed neque a sem blandit tempus. Vivamus eleifend non est nec venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam faucibus vulputate tempus. Integer sagittis massa ac justo rutrum condimentum. Phasellus scelerisque dapibus odio, nec mollis quam scelerisque at. Phasellus semper, metus sit amet porttitor efficitur, nibh libero tempor ante, non hendrerit sem ex vel libero. Nam rutrum egestas erat, vitae finibus mauris suscipit eget. Donec convallis quam eros, ac facilisis elit placerat ac. Integer ut ipsum accumsan, varius enim sed, mattis urna. Maecenas eget dignissim arcu. Cras enim purus, hendrerit a augue eget, tincidunt cursus dolor. Etiam venenatis, mauris sed consectetur venenatis, felis dolor dignissim tellus, sit amet elementum mauris nisl in nisl. Aliquam erat volutpat.
        </p>

      </div>
    </div>
  </div>
</div>

<script src="/src/WebApp/WebClient/assets/academy-page/ContentTree.js"></script>
<script src="/src/WebApp/WebClient/assets/academy-page/prism.js"></script>
