/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. 

*/

a.navbar-brand[b-rs81u7oiad] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.button-gradient[b-rs81u7oiad] {
    border: none;
    display: inline-block;
    border-radius: 16px;
    color: #FFFAFA;
    position: relative;
    vertical-align: middle;
    z-index: 1;
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
    font-family: 'Poppins';
    line-height: normal;
    letter-spacing: 2px;
}

    .button-gradient[b-rs81u7oiad]:before,
    .button-gradient[b-rs81u7oiad]:after {
        content: ' ';
        position: absolute;
        border-radius: 16px;
    }

    .button-gradient[b-rs81u7oiad]:before {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -2;
        background: linear-gradient(to right, #EF5DA8 0%,#5D5FEF 100%);
    }

    .button-gradient[b-rs81u7oiad]:after {
        top: 1.5px;
        bottom: 1.5px;
        left: 1.5px;
        right: 1.5px;
        background-color: #202020;
        z-index: -1;
        opacity: 1;
        transition: all 0.6s ease-in-out;
    }

    .button-gradient:hover[b-rs81u7oiad]:after {
        opacity: 0;
    }


.border-top[b-rs81u7oiad] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-rs81u7oiad] {
    border-bottom: 1px solid #e5e5e5;
}

.last-margin[b-rs81u7oiad] {
    margin-right: 0;
}

.margin-r-3[b-rs81u7oiad] {
    margin-right: 10px;
}

/* Page content */
.content[b-rs81u7oiad] {
    padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky[b-rs81u7oiad] {
    position: fixed;
    top: 0;
    width: 100%
}

    /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content[b-rs81u7oiad] {
        padding-top: 102px;
    }

.sticky-background[b-rs81u7oiad] {
    z-index: 100;
    background-image: linear-gradient(90deg,rgb(10, 10, 10), rgb(61, 61, 61));
    background-color: rgb(61, 61, 61);
    box-shadow: 0em 0.2em 2em rgb(10, 10, 10);
}

.box-shadow[b-rs81u7oiad] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-rs81u7oiad] {
    font-size: 1rem;
    line-height: normal;
}

.footer[b-rs81u7oiad] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: normal;
}

.nav-item[b-rs81u7oiad] {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    margin: 0;
    margin-right: 20px;
}

.navbar-center[b-rs81u7oiad] {
    display: flex;
    margin: auto;
    margin-bottom: 0;
}

.navbar-logo-padding[b-rs81u7oiad] {
    margin-right: 0;
}

.container-display[b-rs81u7oiad] {
    display: flex;
    padding: 12px;
}

.rigth-align[b-rs81u7oiad] {
    display: block;
    text-align: center;
    padding: 8px 14px 8px 14px;
    margin: 0;
}

.navbar[b-rs81u7oiad] {
    padding: 0;
}

.content-container[b-rs81u7oiad] {
    margin: 0;
    padding: 0;
}
