
<div class="container">
    <div class="card-rectangle grain" *ngIf="article">
        <div class="cards-read-container">
            <div class="block article-container " >
                <!-- <p class="text-part" *ngFor="let text of article?.texts">
                {{text}}
                </p> -->

                
            </div>
        </div>
    </div>

    <div class="row g-5" *ngIf="article">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            {{article.name}}
          </h3>
          <article class="blog-post">
            <div [innerHTML]="article.texts.join('') | sanitizeHtml"></div>
          </article>
        </div>
    
  
    </div>
</div>
