<div class="carousel-container">
    <app-carousel></app-carousel>
</div>
<div class="description-text">
    <app-card-content class="block" colorBackground="#5b7c99" borderRadius="0,0,0,0"  
      description="Митраизм (Мистерии Митры) — мистический религиозный культ, распространённый в римской армии в I—IV веках н. э. В Античности культ именовался «митрийскими» или «персидскими мистериями». Исследование митраизма затрудняют отсутствие
    ">
      </app-card-content>
</div>
<div class="container mt-5">
    <app-card-content class="block mt-5" colorBackground="var(--green-color)" 
    description={{article?.text}}
    borderRadius="0,0,0,0">
        
    </app-card-content>
</div>