.card{
    border: 1px solid var(--main-background-color);
    border-radius: 10px;
    background-color: var(--background-complementary-light-color);
    transition: transform 0.5s ease-in-out;
    margin-bottom: 1rem;
    height: 8em;
    margin-right: 1rem;
    &:hover{
        transform: scale(1.05);
    }
}

.bg-main{
    margin: 0;
    padding-left: 1px;
    padding-right: 1px;
    background-color: var(--main-background-color);
}
.card-body{
    border-radius: 10px 0px 10px 10px;
    background-color: var(--main-background-color);
}
.button-r{
    display: flex;
    justify-content: center;
}
.read-button{
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.custom-button{
    background-color: var(--main-background-color);
    color: var(--brown-color-dark);
    border-radius: 10px;
    margin-right: 1em;
    justify-self: end;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s  ease-in-out;
    &:hover{
        background-color: var(--brown-color-dark);
        color: var(--main-background-color);
        border: 1px solid var(--main-background-color);

    }
  }

.card-title{
    color: var(--text-color);
    font-size: 20px;
}

.relevant-text{
    color: var(--text-color);
    font-size: 1em;
}

.text-preview{
    height: 3rem; /* Adjust as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    .text-part h1{
        font-size: 1em;
    }
}

.text-part{
    h1{
        font-size: 1em !important;
    }
}
.card-row{
}
.image-banner{
    overflow: hidden;
  img{
    width: 100%;
    height: auto;
    object-fit: contain; 
  }
  }