:root {
  --main-color: #F3EFE8;
  --secondary-color: #1F493D;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
}

.basement-container {
  margin: 1em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
