<div class = "ability-section">
    <div class="cards">
        <h1>Header technologies</h1>
        <div class="card-ability">
            <div class="card__image-holder">
                <img style="margin-top: 0.5em"src="~/img/aspnetcore-logo.png" width="240" height="220" alt=""/>
            </div>
            <div class="card-title">
                <h2>
                    ASP.NET CORE
                    <small>Image from unsplash.com</small>
                </h2>
            </div>
            <div class="card-flap flap1">
                <div class="card-description">
                    This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
                </div>
                <div class="card-flap flap2">
                    <div class="card-actions">
                        <a href="#" class="button-gradient">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-ability">
            <div class="card__image-holder">
                <img style="margin-top: 0.5em" src="~/img/Microsoft_WPF.png" width="240" height="220" alt=""/>
            </div>
            <div class="card-title">
                <h2>
                    WPF UI
                    <small>Image from unsplash.com</small>
                </h2>
            </div>
            <div class="card-flap flap1">
                <div class="card-description">
                    This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
                </div>
                <div class="card-flap flap2">
                    <div class="card-actions">
                        <a href="#" class="button-gradient">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-ability">
            <div class="card__image-holder">
                <img style="margin-top: 0.5em" src="~/img/revit.jpg" width="240" height="220" alt=""/>
            </div>
            <div class="card-title">
                <h2>
                    Revit API
                    <small>Image from unsplash.com</small>
                </h2>
            </div>
            <div class="card-flap flap1">
                <div class="card-description">
                    This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
                </div>
                <div class="card-flap flap2">
                    <div class="card-actions">
                        <a href="#" class="button-gradient">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-ability">
            <div class="card__image-holder">
                <img style="margin-top: 0.5em" src="~/img/civil.jpg" width="240" height="220" alt=""/>
            </div>
            <div class="card-title">
                <h2>
                    CIVIL API
                    <small>Image from unsplash.com</small>
                </h2>
            </div>
            <div class="card-flap flap1">
                <div class="card-description">
                    This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
                </div>
                <div class="card-flap flap2">
                    <div class="card-actions">
                        <a href="#" class="button-gradient">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


