.basement-container {
  // margin: 1em;
  // background-color: var(--main-background-color);
  // border-radius: 15px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.5);
  // background-position: center center;
  // background-size: cover;
   z-index: 0;
  // background-repeat: no-repeat;
}

.grain {
  width: 100%;
  transform: translateZ(0);
  position: relative;
  z-index: 100;
  &:before {
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
    border-radius: 10px; // adjust as needed
    overflow: hidden;
    opacity: 0.10;
    //-webkit-animation: noise 1s steps(2) infinite;
    //animation: noise 1s steps(2) infinite;
  }

  @-webkit-keyframes noise {
    to { transform: translate3d(-1rem,0,0) }
  }

  @keyframes noise {
    0% { transform: translate3d(0,1rem,0) }
    10% { transform: translate3d(-1rem,-1rem,0) }
    20% { transform: translate3d(-1rem,1rem,0) }
    30% { transform: translate3d(1rem,-1rem,0) }
    40% { transform: translate3d(-1rem,1rem,0) }
    50% { transform: translate3d(-1rem,-1rem,0) }
    60% { transform: translate3d(1rem,1rem,0) }
    70% { transform: translate3d(1rem,-1rem,0) }
    80% { transform: translate3d(-1rem,1rem,0) }
    90% { transform: translate3d(1rem,-1rem,0) }
    to { transform: translate3d(-1rem,0,0) }
  }
}
