<div class="container-for-parts">
  <div class="part-container">
    <div class="half-text">
      <div class="partA">
        <h1>Header for part A</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
        </p>
      </div>
      <div class="partB">
        <h1>Header for part B</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
        </p>
      </div>
      <div class="partC">
        <h1>Header for part C</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
        </p>
      </div>
      <div class="partD">
        <h1>Header for part D</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
        </p>
      </div>
      <div class="partE">
        <h1>Header for part E</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
        </p>
      </div>
      <div class="partF">
        <h1>Header for part F</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
        </p>
      </div>
      <div class="partG">
        <h1>Header for part G</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, culpa! Architecto fugit magni inventore ut officia mollitia eveniet maiores doloribus, beatae soluta. Saepe odit placeat, sed ipsum ea impedit provident.
        </p>
      </div>
    </div>
    <div class="half paralax-container">
      <div appParallaxA
      [classPartName]="'partA'"
      [topPartName]="'partA'"
      [nextPartName]="'partBParallax'"
      class="parallax-item partAParallax" >
        <div class="parallax-image">
          <img [src]="imageUrlA" alt="Description of image">
        </div>
      </div>
      <div appParallaxA
      [classPartName]="'partB'"
      [previousPartName]="'partAParallax'"
      [topPartName]="'partA'"
      [topParallaxPartName]="'partAParallax'"
      [nextPartName]="'partCParallax'"
      class="parallax-item partBParallax" >
        <div class="parallax-image">
          <img [src]="imageUrlB" alt="Description of image">
        </div>
      </div>
      <div appParallaxA
      [classPartName]="'partC'"
      [previousPartName]="'partBParallax'"
      [topPartName]="'partA'"
      [topParallaxPartName]="'partAParallax'"
      [nextPartName]="'partDParallax'"
      class="parallax-item partCParallax" >
        <div class="parallax-image">
          <img [src]="imageUrlC" alt="Description of image">
        </div>
      </div>
      <div appParallaxA
      [classPartName]="'partD'"
      [previousPartName]="'partCParallax'"
      [topPartName]="'partA'"
      [topParallaxPartName]="'partAParallax'"
      [nextPartName]="'partEParallax'"
      class="parallax-item partDParallax" >
        <div class="parallax-image">
          <img [src]="imageUrlD" alt="Description of image">
        </div>
      </div>
      <div appParallaxA
      [classPartName]="'partE'"
      [previousPartName]="'partDParallax'"
      [topPartName]="'partA'"
      [topParallaxPartName]="'partAParallax'"
      [nextPartName]="'partFParallax'"
      class="parallax-item partEParallax" >
        <div class="parallax-image">
          <img [src]="imageUrlE" alt="Description of image">
        </div>
      </div>
      <div appParallaxA
      [classPartName]="'partF'"
      [previousPartName]="'partEParallax'"
      [topPartName]="'partA'"
      [topParallaxPartName]="'partAParallax'"
      [nextPartName]="'partGParallax'"
      class="parallax-item partFParallax" >
        <div class="parallax-image">
          <img [src]="imageUrlF" alt="Description of image">
        </div>
      </div>
      <div appParallaxA
      [classPartName]="'partG'"
      [topParallaxPartName]="'partAParallax'"
      [topPartName]="'partA'"
      class="parallax-item partGParallax" >
        <div class="parallax-image">
          <img [src]="imageUrlG" alt="Description of image">
        </div>
      </div>
    </div>
  </div>
</div>






