<div class="container">
  <div class="container-for-parts">
    <div class="row">
      <div class="col text-center">
        <h1 class="section-header-title" >
          ABOUT THE COMPANY
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col">

        <div class="row">
          <div class="section-part">
            <app-card-content class="block "
            description="Incididunt id duis amet esse eiusmod eu veniam ex laborum. Consequat incididunt fugiat incididunt in velit eiusmod elit ad. Officia elit exercitation sunt ex. Enim dolore non minim adipisicing aute amet aliqua nostrud fugiat ad magna. Exercitation eu nulla consequat est sint eu anim aliqua quis reprehenderit deserunt veniam.">
            </app-card-content>
            <div class="block section-header d-flex justify-content-center align-items-center ">
              <h1>WHO WE ARE</h1>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="section-part">
            <div class="block section-header d-flex justify-content-center align-items-center">
              <h1>WHAT WE DO</h1>
            </div>
            <app-card-content class="block" colorBackground="#5b7c99" 
            description="Mollit anim velit pariatur sint sit magna proident mollit. Cupidatat mollit ad officia nostrud. Tempor et eiusmod veniam fugiat irure ex nostrud non dolor nisi consequat do adipisicing labore. Adipisicing sunt nulla eiusmod tempor deserunt elit ut exercitation deserunt id sint id proident excepteur. Minim sit duis magna Lorem reprehenderit laborum ex aliquip id veniam nulla.">
            </app-card-content>
          </div>
        </div>

        <div class="row">
          <div class="section-part">
            <app-card-content class="block" colorBackground="#423629" 
            description="Aliquip in est elit eu voluptate aute aliqua Lorem voluptate eiusmod elit mollit. Reprehenderit officia et sit ea aute proident commodo. Dolor laborum amet consectetur ullamco. Exercitation adipisicing velit labore eiusmod ad fugiat irure proident nostrud ex magna. Lorem cupidatat sint mollit laboris. Irure deserunt occaecat eu cillum nisi reprehenderit.">
            </app-card-content>
            <div class="block section-header d-flex justify-content-center align-items-center">
              <h1>OUR ADVANTAGES</h1>
            </div>
          </div>
      </div>
      </div>
       
    </div>

  </div>

  <div class="row mb-2">
    <div class="row">
      <div class="col text-center">
        <h1 class="section-header-title" >
          TREND POSTS
        </h1>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">Programming</strong>
          <h3 class="mb-0">Migration to .NET 6 from .Framework</h3>
          <div class="mb-1 text-body-secondary">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success-emphasis">Programming</strong>
          <h3 class="mb-0">Checklist  security aspects of .NET</h3>
          <div class="mb-1 text-body-secondary">Nov 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- <div class="container " style="	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;">
    <div class="app">
      <div class="cardList">
        <button class="cardList__btn btn btn--left">
          <div class="icon">
            <svg>
              <use xlink:href="#arrow-left"></use>
            </svg>
          </div>
        </button>
        <div class="cards__wrapper">
          <div class="card-e current--card">
            <div class="card__image">
              <img src="assets\images\engineer.jpg" alt="" />
            </div>
          </div>

          <div class="card-e  next--card">
            <div class="card__image">
              <img src="assets\images\construction.jpg" alt="" />
            </div>
          </div>

          <div class="card-e  previous--card">
            <div class="card__image">
              <img src="assets\images\architect.jpg" alt="" />
            </div>
          </div>
        </div>

        <button class="cardList__btn btn btn--right">
          <div class="icon">
            <svg>
              <use xlink:href="#arrow-right"></use>
            </svg>
          </div>
        </button>
      </div>

      <div class="infoList">
        <div class="info__wrapper">
          <div class="info current--info">
            <h1 class="text name">Highlands</h1>
            <h4 class="text location">Scotland</h4>
            <p class="text description">The mountains are calling</p>
          </div>

          <div class="info next--info">
            <h1 class="text name">Machu Pichu</h1>
            <h4 class="text location">Peru</h4>
            <p class="text description">Adventure is never far away</p>
          </div>

          <div class="info previous--info">
            <h1 class="text name">Chamonix</h1>
            <h4 class="text location">France</h4>
            <p class="text description">Let your dreams come true</p>
          </div>
        </div>
      </div>


      <div class="app__bg">
        <div class="app__bg__image current--image">
          <img src="assets\images\engineer.jpg" alt="" />
        </div>
        <div class="app__bg__image next--image">
          <img src="assets\images\construction.jpg" alt="" />
        </div>
        <div class="app__bg__image previous--image">
          <img src="assets\images\architect.jpg" alt="" />
        </div>
      </div>
    </div>

    <div class="loading__wrapper">
      <div class="loader--text">Loading...</div>
      <div class="loader">
        <span></span>
      </div>
    </div>

    <svg class="icons" style="display: none;">
      <symbol id="arrow-left" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
        <polyline points='328 112 184 256 328 400'
              style='fill:none;stroke:black;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' />
      </symbol>
      <symbol id="arrow-right" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
        <polyline points='184 112 328 256 184 400'
              style='fill:none;stroke:black;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' />
      </symbol>
    </svg>

    <div class="support">
      <a href="https://twitter.com/DevLoop01" target="_blank"><i class="fab fa-twitter-square"></i></a>
      <a href="https://dribbble.com/devloop01" target="_blank"><i class="fab fa-dribbble"></i></a>
    </div>
  </div>
  <script>
    const { gsap, imagesLoaded } = window;

const buttons = {
  prev: document.querySelector(".btn--left"),
  next: document.querySelector(".btn--right"),
};
const cardsContainerEl = document.querySelector(".cards__wrapper");
const appBgContainerEl = document.querySelector(".app__bg");

const cardInfosContainerEl = document.querySelector(".info__wrapper");

buttons.next.addEventListener("click", () => swapCards("right"));

buttons.prev.addEventListener("click", () => swapCards("left"));

function swapCards(direction) {
  const currentCardEl = cardsContainerEl.querySelector(".current--card");
  const previousCardEl = cardsContainerEl.querySelector(".previous--card");
  const nextCardEl = cardsContainerEl.querySelector(".next--card");

  const currentBgImageEl = appBgContainerEl.querySelector(".current--image");
  const previousBgImageEl = appBgContainerEl.querySelector(".previous--image");
  const nextBgImageEl = appBgContainerEl.querySelector(".next--image");

  changeInfo(direction);
  swapCardsClass();

  removeCardEvents(currentCardEl);

  function swapCardsClass() {
    currentCardEl.classList.remove("current--card");
    previousCardEl.classList.remove("previous--card");
    nextCardEl.classList.remove("next--card");

    currentBgImageEl.classList.remove("current--image");
    previousBgImageEl.classList.remove("previous--image");
    nextBgImageEl.classList.remove("next--image");

    currentCardEl.style.zIndex = "50";
    currentBgImageEl.style.zIndex = "-2";

    if (direction === "right") {
      previousCardEl.style.zIndex = "20";
      nextCardEl.style.zIndex = "30";

      nextBgImageEl.style.zIndex = "-1";

      currentCardEl.classList.add("previous--card");
      previousCardEl.classList.add("next--card");
      nextCardEl.classList.add("current--card");

      currentBgImageEl.classList.add("previous--image");
      previousBgImageEl.classList.add("next--image");
      nextBgImageEl.classList.add("current--image");
    } else if (direction === "left") {
      previousCardEl.style.zIndex = "30";
      nextCardEl.style.zIndex = "20";

      previousBgImageEl.style.zIndex = "-1";

      currentCardEl.classList.add("next--card");
      previousCardEl.classList.add("current--card");
      nextCardEl.classList.add("previous--card");

      currentBgImageEl.classList.add("next--image");
      previousBgImageEl.classList.add("current--image");
      nextBgImageEl.classList.add("previous--image");
    }
  }
}

function changeInfo(direction) {
  let currentInfoEl = cardInfosContainerEl.querySelector(".current--info");
  let previousInfoEl = cardInfosContainerEl.querySelector(".previous--info");
  let nextInfoEl = cardInfosContainerEl.querySelector(".next--info");

  gsap.timeline()
    .to([buttons.prev, buttons.next], {
    duration: 0.2,
    opacity: 0.5,
    pointerEvents: "none",
  })
    .to(
    currentInfoEl.querySelectorAll(".text"),
    {
      duration: 0.4,
      stagger: 0.1,
      translateY: "-120px",
      opacity: 0,
    },
    "-="
  )
    .call(() => {
    swapInfosClass(direction);
  })
    .call(() => initCardEvents())
    .fromTo(
    direction === "right"
    ? nextInfoEl.querySelectorAll(".text")
    : previousInfoEl.querySelectorAll(".text"),
    {
      opacity: 0,
      translateY: "40px",
    },
    {
      duration: 0.4,
      stagger: 0.1,
      translateY: "0px",
      opacity: 1,
    }
  )
    .to([buttons.prev, buttons.next], {
    duration: 0.2,
    opacity: 1,
    pointerEvents: "all",
  });

  function swapInfosClass() {
    currentInfoEl.classList.remove("current--info");
    previousInfoEl.classList.remove("previous--info");
    nextInfoEl.classList.remove("next--info");

    if (direction === "right") {
      currentInfoEl.classList.add("previous--info");
      nextInfoEl.classList.add("current--info");
      previousInfoEl.classList.add("next--info");
    } else if (direction === "left") {
      currentInfoEl.classList.add("next--info");
      nextInfoEl.classList.add("previous--info");
      previousInfoEl.classList.add("current--info");
    }
  }
}

function updateCard(e) {
  const card = e.currentTarget;
  const box = card.getBoundingClientRect();
  const centerPosition = {
    x: box.left + box.width / 2,
    y: box.top + box.height / 2,
  };
  let angle = Math.atan2(e.pageX - centerPosition.x, 0) * (35 / Math.PI);
  gsap.set(card, {
    "--current-card-rotation-offset": `${angle}deg`,
  });
  const currentInfoEl = cardInfosContainerEl.querySelector(".current--info");
  gsap.set(currentInfoEl, {
    rotateY: `${angle}deg`,
  });
}

function resetCardTransforms(e) {
  const card = e.currentTarget;
  const currentInfoEl = cardInfosContainerEl.querySelector(".current--info");
  gsap.set(card, {
    "--current-card-rotation-offset": 0,
  });
  gsap.set(currentInfoEl, {
    rotateY: 0,
  });
}

function initCardEvents() {
  const currentCardEl = cardsContainerEl.querySelector(".current--card");
  currentCardEl.addEventListener("pointermove", updateCard);
  currentCardEl.addEventListener("pointerout", (e) => {
    resetCardTransforms(e);
  });
}

initCardEvents();

function removeCardEvents(card) {
  card.removeEventListener("pointermove", updateCard);
}

function init() {

  let tl = gsap.timeline();

  tl.to(cardsContainerEl.children, {
    delay: 0.15,
    duration: 0.5,
    stagger: {
      ease: "power4.inOut",
      from: "right",
      amount: 0.1,
    },
    "--card-translateY-offset": "0%",
  })
    .to(cardInfosContainerEl.querySelector(".current--info").querySelectorAll(".text"), {
    delay: 0.5,
    duration: 0.4,
    stagger: 0.1,
    opacity: 1,
    translateY: 0,
  })
    .to(
    [buttons.prev, buttons.next],
    {
      duration: 0.4,
      opacity: 1,
      pointerEvents: "all",
    },
    "-=0.4"
  );
}

const waitForImages = () => {
  const images = [...document.querySelectorAll("img")];
  const totalImages = images.length;
  let loadedImages = 0;
  const loaderEl = document.querySelector(".loader span");

  gsap.set(cardsContainerEl.children, {
    "--card-translateY-offset": "100vh",
  });
  gsap.set(cardInfosContainerEl.querySelector(".current--info").querySelectorAll(".text"), {
    translateY: "40px",
    opacity: 0,
  });
  gsap.set([buttons.prev, buttons.next], {
    pointerEvents: "none",
    opacity: "0",
  });

  images.forEach((image) => {
    imagesLoaded(image, (instance) => {
      if (instance.isComplete) {
        loadedImages++;
        let loadProgress = loadedImages / totalImages;

        gsap.to(loaderEl, {
          duration: 1,
          scaleX: loadProgress,
          backgroundColor: `hsl(${loadProgress * 120}, 100%, 50%`,
        });

        if (totalImages == loadedImages) {
          gsap.timeline()
            .to(".loading__wrapper", {
            duration: 0.8,
            opacity: 0,
            pointerEvents: "none",
          })
            .call(() => init());
        }
      }
    });
  });
};

waitForImages();

  </script> -->

<div class="container">
  <div class="about-technologies">
    <div class="app">
      <div class="cardList">
        <button class="cardList__btn btn--left">
          <div class="icon">
            <svg>
              <use xlink:href="#arrow-left"></use>
            </svg>
          </div>
        </button>
  
        <div class="cards__wrapper">
          <div class="card current--card">
            <div class="card__image">
              <img src="assets\images\architect.jpg" alt="architect" style="height: 100px; width: 100px;" />
            </div>
          </div>
          <div class="card next--card">
            <div class="card__image">
              <img src="assets\images\construction.jpg" alt="construction" style="height: 100px; width: 100px;"/>
            </div>
          </div>
          <div class="card previous--card">
            <div class="card__image">
              <img src="assets\images\engineer.jpg" alt="engineer" style="height: 100px; width: 100px;"/>
            </div>
          </div>
        </div>
  
        <button class="cardList__btn btn--right">
          <div class="icon">
            <svg>
              <use xlink:href="#arrow-right"></use>
            </svg>
          </div>
        </button>
      </div>
  
      <div class="infoList">
        <div class="info__wrapper">
          <div class="info current--info">
            <h1 class="text name"> Constructional </h1> 
            <p class="text description">Create apps for automating Constructional</p>
          </div>
  
          <div class="info next--info">
            <h1 class="text name">Architectural</h1>
            <p class="text description">Create apps for automating Architectural</p>
          </div>
  
          <div class="info previous--info">
            <h1 class="text name">Piping</h1>
            <p class="text description">Create apps for automating Piping</p>
          </div>
        </div>
      </div>
  
      <div class="app__bg">
        <div class="app__bg__image current--image">
          <img src="assets\images\architect.jpg" alt="" />
        </div>
        <div class="app__bg__image next--image">
          <img src="assets\images\construction.jpg" alt="" />
        </div>
        <div class="app__bg__image previous--image">
          <img src="assets\images\engineer.jpg" alt="" />
        </div>
      </div>
    </div>
  
    <div class="loading__wrapper">
      <div class="loader--text">Loading...</div>
      <div class="loader">
        <span></span>
      </div>
    </div>
  
    <svg class="icons" style="display: none;">
      <symbol id="arrow-left" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
        <polyline points='328 112 184 256 328 400' style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' />
      </symbol>
      <symbol id="arrow-right" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
        <polyline points='184 112 328 256 184 400' style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' />
      </symbol>
    </svg>
  
    <div class="support">
      <a href="https://twitter.com/DevLoop01" target="_blank"><i class="fab fa-twitter-square"></i></a>
      <a href="https://dribbble.com/devloop01" target="_blank"><i class="fab fa-dribbble"></i></a>
    </div>
  </div>
  
</div>
  <script>
    const { gsap, imagesLoaded } = window;

const buttons = {
  prev: document.querySelector(".btn--left"),
  next: document.querySelector(".btn--right"),
};
const cardsContainerEl = document.querySelector(".cards__wrapper");
const appBgContainerEl = document.querySelector(".app__bg");

const cardInfosContainerEl = document.querySelector(".info__wrapper");

buttons.next.addEventListener("click", () => swapCards("right"));

buttons.prev.addEventListener("click", () => swapCards("left"));

function swapCards(direction) {
  const currentCardEl = cardsContainerEl.querySelector(".current--card");
  const previousCardEl = cardsContainerEl.querySelector(".previous--card");
  const nextCardEl = cardsContainerEl.querySelector(".next--card");

  const currentBgImageEl = appBgContainerEl.querySelector(".current--image");
  const previousBgImageEl = appBgContainerEl.querySelector(".previous--image");
  const nextBgImageEl = appBgContainerEl.querySelector(".next--image");

  changeInfo(direction);
  swapCardsClass();

  removeCardEvents(currentCardEl);

  function swapCardsClass() {
    currentCardEl.classList.remove("current--card");
    previousCardEl.classList.remove("previous--card");
    nextCardEl.classList.remove("next--card");

    currentBgImageEl.classList.remove("current--image");
    previousBgImageEl.classList.remove("previous--image");
    nextBgImageEl.classList.remove("next--image");

    currentCardEl.style.zIndex = "50";
    currentBgImageEl.style.zIndex = "-2";

    if (direction === "right") {
      previousCardEl.style.zIndex = "20";
      nextCardEl.style.zIndex = "30";

      nextBgImageEl.style.zIndex = "-1";

      currentCardEl.classList.add("previous--card");
      previousCardEl.classList.add("next--card");
      nextCardEl.classList.add("current--card");

      currentBgImageEl.classList.add("previous--image");
      previousBgImageEl.classList.add("next--image");
      nextBgImageEl.classList.add("current--image");
    } else if (direction === "left") {
      previousCardEl.style.zIndex = "30";
      nextCardEl.style.zIndex = "20";

      previousBgImageEl.style.zIndex = "-1";

      currentCardEl.classList.add("next--card");
      previousCardEl.classList.add("current--card");
      nextCardEl.classList.add("previous--card");

      currentBgImageEl.classList.add("next--image");
      previousBgImageEl.classList.add("current--image");
      nextBgImageEl.classList.add("previous--image");
    }
  }
}

function changeInfo(direction) {
  let currentInfoEl = cardInfosContainerEl.querySelector(".current--info");
  let previousInfoEl = cardInfosContainerEl.querySelector(".previous--info");
  let nextInfoEl = cardInfosContainerEl.querySelector(".next--info");

  gsap.timeline()
    .to([buttons.prev, buttons.next], {
    duration: 0.2,
    opacity: 0.5,
    pointerEvents: "none",
  })
    .to(
    currentInfoEl.querySelectorAll(".text"),
    {
      duration: 0.4,
      stagger: 0.1,
      translateY: "-120px",
      opacity: 0,
    },
    "-="
  )
    .call(() => {
    swapInfosClass(direction);
  })
    .call(() => initCardEvents())
    .fromTo(
    direction === "right"
    ? nextInfoEl.querySelectorAll(".text")
    : previousInfoEl.querySelectorAll(".text"),
    {
      opacity: 0,
      translateY: "40px",
    },
    {
      duration: 0.4,
      stagger: 0.1,
      translateY: "0px",
      opacity: 1,
    }
  )
    .to([buttons.prev, buttons.next], {
    duration: 0.2,
    opacity: 1,
    pointerEvents: "all",
  });

  function swapInfosClass() {
    currentInfoEl.classList.remove("current--info");
    previousInfoEl.classList.remove("previous--info");
    nextInfoEl.classList.remove("next--info");

    if (direction === "right") {
      currentInfoEl.classList.add("previous--info");
      nextInfoEl.classList.add("current--info");
      previousInfoEl.classList.add("next--info");
    } else if (direction === "left") {
      currentInfoEl.classList.add("next--info");
      nextInfoEl.classList.add("previous--info");
      previousInfoEl.classList.add("current--info");
    }
  }
}

function updateCard(e) {
  const card = e.currentTarget;
  const box = card.getBoundingClientRect();
  const centerPosition = {
    x: box.left + box.width / 2,
    y: box.top + box.height / 2,
  };
  let angle = Math.atan2(e.pageX - centerPosition.x, 0) * (35 / Math.PI);
  gsap.set(card, {
    "--current-card-rotation-offset": `${angle}deg`,
  });
  const currentInfoEl = cardInfosContainerEl.querySelector(".current--info");
  gsap.set(currentInfoEl, {
    rotateY: `${angle}deg`,
  });
}

function resetCardTransforms(e) {
  const card = e.currentTarget;
  const currentInfoEl = cardInfosContainerEl.querySelector(".current--info");
  gsap.set(card, {
    "--current-card-rotation-offset": 0,
  });
  gsap.set(currentInfoEl, {
    rotateY: 0,
  });
}

function initCardEvents() {
  const currentCardEl = cardsContainerEl.querySelector(".current--card");
  currentCardEl.addEventListener("pointermove", updateCard);
  currentCardEl.addEventListener("pointerout", (e) => {
    resetCardTransforms(e);
  });
}

initCardEvents();

function removeCardEvents(card) {
  card.removeEventListener("pointermove", updateCard);
}

function init() {

  let tl = gsap.timeline();

  tl.to(cardsContainerEl.children, {
    delay: 0.15,
    duration: 0.5,
    stagger: {
      ease: "power4.inOut",
      from: "right",
      amount: 0.1,
    },
    "--card-translateY-offset": "0%",
  })
    .to(cardInfosContainerEl.querySelector(".current--info").querySelectorAll(".text"), {
    delay: 0.5,
    duration: 0.4,
    stagger: 0.1,
    opacity: 1,
    translateY: 0,
  })
    .to(
    [buttons.prev, buttons.next],
    {
      duration: 0.4,
      opacity: 1,
      pointerEvents: "all",
    },
    "-=0.4"
  );
}

const waitForImages = () => {
  const images = [...document.querySelectorAll("img")];
  const totalImages = images.length;
  let loadedImages = 0;
  const loaderEl = document.querySelector(".loader span");

  gsap.set(cardsContainerEl.children, {
    "--card-translateY-offset": "100vh",
  });
  gsap.set(cardInfosContainerEl.querySelector(".current--info").querySelectorAll(".text"), {
    translateY: "40px",
    opacity: 0,
  });
  gsap.set([buttons.prev, buttons.next], {
    pointerEvents: "none",
    opacity: "0",
  });

  images.forEach((image) => {
    imagesLoaded(image, (instance) => {
      if (instance.isComplete) {
        loadedImages++;
        let loadProgress = loadedImages / totalImages;

        gsap.to(loaderEl, {
          duration: 1,
          scaleX: loadProgress,
          backgroundColor: `hsl(${loadProgress * 120}, 100%, 50%`,
        });

        if (totalImages == loadedImages) {
          gsap.timeline()
            .to(".loading__wrapper", {
            duration: 0.8,
            opacity: 0,
            pointerEvents: "none",
          })
            .call(() => init());
        }
      }
    });
  });
};

waitForImages();

  </script> 