<div class="container-for-parts">
  <div class="part-container">
      <div class="section-part">
        <app-card-content class="block"
        description="Митраизм (Мистерии Митры) — мистический религиозный культ, распространённый в римской армии в I—IV веках н. э. В Античности культ именовался «митрийскими» или «персидскими мистериями». Исследование митраизма затрудняют отсутствие
      ">
        </app-card-content>
        <div class="block section-header d-flex justify-content-center align-items-center">
          <h1>WHO WE ARE</h1>
        </div>
      </div>
  </div>
  <div class="part-container">
    <div class="section-part">
      <div class="block section-header d-flex justify-content-center align-items-center">
        <h1>WHAT WE DO</h1>
      </div>
      <app-card-content class="block" colorBackground="#5b7c99" 
      description="Митраизм (Мистерии Митры) — мистический религиозный культ, распространённый в римской армии в I—IV веках н. э. В Античности культ именовался «митрийскими» или «персидскими мистериями». Исследование митраизма затрудняют отсутствие
    ">
      </app-card-content>
     
    </div>
  </div>
  <div class="part-container">
    <div class="section-part">
      <app-card-content class="block" colorBackground="#423629" 
      description="Митраизм (Мистерии Митры) — мистический религиозный культ, распространённый в римской армии в I—IV веках н. э. В Античности культ именовался «митрийскими» или «персидскими мистериями». Исследование митраизма затрудняют отсутствие
    ">
      </app-card-content>
      <div class="block section-header d-flex justify-content-center align-items-center">
        <h1>OUR ADVANTAGES</h1>
      </div>
    </div>
</div>
</div>






