.brown-text-title{
    color: var(--brown-color);
}
.brown-text-title-big{
    color: var(--brown-color);
    font-size: 2rem;
}
.select-otion-dropdown{
    width: 100%;
    border-radius: 10px;
    border: 0px;
}

.list-group-custom
    .list-group-item {
        background-color: var(--main-background-color);

        color: var(--brown-color);
        border: 0;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s  ease-in-out;
    }
.list-group-custom
    .list-group-item:hover {
        background-color: var(--brown-color-dark);
        color: var(--main-background-color);
        cursor: pointer;
    }

.list-group-custom .active {
    background-color: var(--brown-color);
    color: var(--main-background-color);
}

.description-text{
    width: 100%;
    height: 100%;
}
.custom-text-input{
    border-radius: 10px;
    border: 1px solid var(--brown-color);
    padding-left: 1em;
    background-color: var(--brown-color);
    color: var(--main-background-color);
    cursor: pointer;
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: var(--main-background-color);
        opacity: 1; /* Firefox */
}
}
.burron-border{
  border: 1px solid var(--green-color);
  text-decoration: none;
}
.custom-button-onlight-reward{
  background-color: var(--green-color);
  color: var(--main-background-color);
  overflow: visible;
  margin-top: -1rem;
  border-radius: 10px;
  margin-bottom: 0px;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s  ease-in-out;
  &:hover{
      background-color: var(--main-background-color);
      color: var(--green-color);
      border: 1px solid var(--green-color);
  }
  &:active{
      background-color: var(--green-color-dark);
  }
}

.center-title{
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  left: 50%;
  margin-top: -4em;
  margin-left: -3em;
  z-index: 0;
  background-color: transparent;
}

.custom-button-onlight{
  background-color: var(--main-background-color);
  color: var(--green-color);
  border-radius: 10px;
  margin-bottom: 0px;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s  ease-in-out;
  &:hover{
      background-color: var(--green-color);
      color: var(--main-background-color);
  }
  &:active{
      background-color: var(--green-color-dark);
  }
}
.button-square{
  left: 0;
  z-index: 0;
  position: absolute;
}

//TODO: Jsoin with the same at academy component
//Start todo


.side-container{
  padding-right: 1em;
  width: 100%;
}
// Move the content down so that it won't be hidden by the toolbar


.overlay-container {
    position: relative;
  }

.overlay {
top: 4rem;
left: 0;
width: 100%;
display:block ;
justify-content: start;
align-items: start;
text-align: start;
z-index: 0;
}

.toggle-button-container {
    position: relative;
    z-index: 0; 
    text-align: start;
}

.expanded {
    width: 20em;
}
//End todo
::ng-deep .p-dataview-content{
  background: var(--main-background-color);
}

::ng-deep .p-tree .p-tree-container {
  padding-left: 0;

}
::ng-deep .p-tree .p-tree-container .p-treenode-content{
  padding-left: 0;
}

::ng-deep .p-highlight{
  background-color: var(--brown-color);
  color: var(--background-complementary-light-color);

  -webkit-transition: all 0.2s ease-in-out;
  border: 0;
  transition: all 0.2s  ease-in-out;
}

::ng-deep .p-tree .p-tree-container .p-treenode:focus > .p-treenode-content{
  box-shadow: none;
}
::ng-deep .p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler:enabled:hover{
  background: transparent;
  color: var(--background-complementary-light-color);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s  ease-in-out;
}
::ng-deep .p-tree .p-tree-container .p-treenode .p-treenode-content.p-treenode-selectable:not(.p-highlight):hover{
  background: var(--brown-color-dark);
  color: var(--background-complementary-light-color);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s  ease-in-out;
  border: 0;
}
::ng-deep .p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-tree-toggler, .p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-treenode-icon {
  color: var(--background-complementary-light-color);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s  ease-in-out;
  border: 0;
}

::ng-deep .p-tree {
  padding: 0.5em;
  height: 20rem;
  overflow: auto;
  background-color: var(--background-complementary-light-color);
  border: 0;
}
.p-tree-container {
  padding-left: 0;
}
.tree-view-container{
  padding-bottom: 1em;
}

.form-control{
  background-color: var(--main-background-color);
  border: 0;
  padding: 0;
  margin: 0;
}
::ng-deep .p-toast{
  z-index: 1;
  top: 7rem;
}
::ng-deep .p-toast-message{
  background: rgba(247, 245, 241, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid var(--brown-color);
  z-index: 1;
}
.toast-card{
  padding: 0;
  z-index: 1;
  margin: 0;
}

.text-brown{
  color: var(--brown-color);
}

.vertical-alignment{
  margin-bottom: 1rem;
  float: right;
  margin-right: 1rem;
  margin-top: 2rem;
}