@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@section Styles
    {
        <partial name="_HeadLinkCssPartial" />
}

<div class="limiter ">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <span class="login100-form-title p-b-49">
                    Create a new account
                </span>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                    <label class="label-input100" asp-for="Input.Email">Username</label>
                    <input asp-for="Input.Email" class="input100" placeholder="Type your username"/>
                    <span asp-validation-for="Input.Email" class="text-danger focus-input100" data-symbol="&#xf206;"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-23" data-validate="Password is required">
                    <label class="label-input100" asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="input100"  placeholder="Type your password"/>
                    <span asp-validation-for="Input.Password" class="text-danger focus-input100" data-symbol="&#xf190;"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-23" data-validate="Password is required">
                    <label class="label-input100" asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="input100"  placeholder="Type your password"/>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger focus-input100" data-symbol="&#xf190;"></span>
                </div>

                <div class="text-right p-t-8 p-b-31">
                    <a href="#">
                        Forgot password?
                    </a>
                </div>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn " type="submit" >
                            Register
                        </button>
                    </div>
                </div>

                <div class="flex-c-m">
                    <a href="#" class="login100-social-item bg1">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="login100-social-item bg2">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a href="#" class="login100-social-item bg3">
                        <i class="fa fa-google"></i>
                    </a>
                </div>
                
            </form>
        </div>
    </div>
</div>

<div id="dropDownSelect1"></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
