<div class="text_block_code article-format" data-article-name=" Initilize C#">
    <p>
        Donec at iaculis purus. Mauris et purus at ex viverra varius. Integer non lacus quis justo pulvinar suscipit. Nulla volutpat, nulla et volutpat ullamcorper, purus erat viverra nunc, id sodales nibh nibh nec ligula. Duis convallis ex eu elit tempus, ut pharetra enim iaculis. Proin quam ligula, bibendum eget lectus eget, imperdiet aliquam nisl. Suspendisse et rutrum est, sit amet fringilla ante. Sed scelerisque, massa ut ultricies ultricies, nibh tellus auctor eros, ut tempus sem nisi vestibulum purus. Maecenas vel porta risus.
    </p>
</div>