@model WebUi.Models.EntityImplementation.Article

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="article-create-title">
    <h1> Create Article</h1>
</div>

<div >
    <div class="create-field-name">
        <form asp-action="Create" class="content-article-form">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group content-article-form">
                <label asp-for="Path" ></label>
                <input asp-for="Path" value="Code/ASP.NET/" class="form-control" />
            </div>
            <div class="form-group content-article-form">
                <label asp-for="Name" ></label>
                <input asp-for="Name" class="form-control" />
            </div>
            @*Include*@
            <div class="form-group content-article-form">
                <label asp-for="IntroTextPart" ></label>
                <textarea asp-for="IntroTextPart"  
                    type="text" >
                    Default</textarea>
                
            </div>
            <div class="form-group content-article-form">
                <label asp-for="IntroCodePart" ></label>
                <input asp-for="IntroCodePart" class="form-control" value="--"/>
                @*<span asp-validation-for="IntroCodePart" class="text-danger"></span>*@
            </div>
            @*Body*@
            <div class="form-group content-article-form">
                <label asp-for="BodyTextPart" ></label>
                <textarea 
                    asp-for="BodyTextPart" 
                    type="text" >
                    Default</textarea>
            </div>
            <div class="form-group content-article-form">
                <label asp-for="BodyCodePart" ></label>
                <input asp-for="BodyCodePart" class="form-control " value="--"/>
            </div>
            @*Final*@
            <div class="form-group content-article-form">
                <label asp-for="ConclusionTextPart" ></label>
                <textarea asp-for="ConclusionTextPart" 
                type="text">
                Default</textarea>
            </div>
            @*Refs*@
            <div class="form-group content-article-form">
                <label asp-for="PicHttpRefs1" ></label>
                <input asp-for="PicHttpRefs1" class="form-control" value="--"/>
            </div>
            <div class="form-group content-article-form">
                <label asp-for="PicHttpRefs2" ></label>
                <input asp-for="PicHttpRefs2" class="form-control" value="--"/>
            </div>
            <div class="form-group content-article-form">
                <label asp-for="HttpRefs1" ></label>
                <input asp-for="HttpRefs1" class="form-control" value="--"/>
            </div>
            <div class="form-group content-article-form">
                <label asp-for="HttpRefs2" ></label>
                <input  asp-for="HttpRefs2" class="form-control" value="--"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
