@model WebUi.Models.EntityImplementation.Article

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @*Include*@
            <div class="form-group">
                <label asp-for="IntroTextPart" class="create-filed-name"></label>
                <input asp-for="IntroTextPart" class="form-control" />
                <span asp-validation-for="IntroTextPart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntroCodePart" class="create-filed-name"></label>
                <input asp-for="IntroCodePart" class="form-control" />
                <span asp-validation-for="IntroCodePart" class="text-danger"></span>
            </div>
            @*Body*@
            <div class="form-group">
                <label asp-for="BodyTextPart" class="create-filed-name"></label>
                <input asp-for="BodyTextPart" class="form-control" />
                <span asp-validation-for="BodyTextPart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BodyCodePart" class="create-filed-name"></label>
                <input asp-for="BodyCodePart" class="form-control" />
                <span asp-validation-for="BodyCodePart" class="text-danger"></span>
            </div>
            @*Final*@
            <div class="form-group">
                <label asp-for="ConclusionTextPart" class="create-filed-name"></label>
                <input asp-for="ConclusionTextPart" class="form-control" />
                <span asp-validation-for="ConclusionTextPart" class="text-danger"></span>
            </div>
            @*Refs*@
            <div class="form-group">
                <label asp-for="PicHttpRefs1" class="create-filed-name"></label>
                <input asp-for="PicHttpRefs1" class="form-control" />
                <span asp-validation-for="PicHttpRefs1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PicHttpRefs2" class="create-filed-name"></label>
                <input asp-for="PicHttpRefs2" class="form-control" />
                <span asp-validation-for="PicHttpRefs2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HttpRefs1" class="create-filed-name"></label>
                <input asp-for="HttpRefs1" class="form-control" />
                <span asp-validation-for="HttpRefs1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HttpRefs2" class="create-filed-name"></label>
                <input asp-for="HttpRefs2" class="form-control" />
                <span asp-validation-for="HttpRefs2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
