<div class="intro-conteiner">
    <div class="intro-conteiner-sturtup">
        <div class="intro-conteiner intro-conteiner-slogan">
            <div class="outside intro-conteiner__maintence">
                <p class="intro-conteiner-slogan__maintence">The essence<br>of useful</p>
            </div>
            <div class="intro-conteiner__about inside">
                <p class="intro-conteiner-slogan__about">Summary of works on the development<br>of automated building<br>information systems</p>
            </div>
            <div class="outside bottom-conteiner intro-conteiner__by">
                <p class="intro-conteiner-slogan__by">Sabaleuski Mikalai</p>
            </div>
        </div>
        <div class="intro-conteiner-canvas">
            <canvas class="conteiner-canvas"></canvas>
        </div>
    </div>
</div>