@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/curosel.css" asp-append-version="true" />
<section class="main-page">

    <partial name="HomePartial/0AboutSection" />
    <partial name="HomePartial/1IntroTextSection" />
    <partial name="HomePartial/2TechnologySection" />
    <partial name="HomePartial/3OutputTextSection" />
    <partial name="HomePartial/4AbilitiesSection" />
    <partial name="HomePartial/5OutputTextSection" />

  <script src="~/js/curosel.js" asp-append-version="true"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script src="~/js/4AbilitiesSection.js" asp-append-version="true"></script>
  <script src="~/js/intro.js" asp-append-version="true"></script>

</section>

